<div class="container">
    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Infantil</h1>
                <p class="lead text-center">Itens voltados para o público Infantil</p>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit Alimentacao.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Kit Alimentação 5 Peças</h5>
                    <ul class="card-text deco">
                        <li>Fibra de bambu.</li>
                        <li>1 prato, 1 tigela, 1 copo </li>
                        <li>1 garfo e 1 colher.</li>
                    </ul>
                    <p class="fw-bold">R$ 89,00</p>
                    <a href="https://www.tuttiamore.com.br/kit-alimentacao-eco-5-pecas-zebra-girotondo-baby?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFZfoFL0k-vZO0z799tABBlz-s9sC0snUriX8xRAud4jH3uuW3Y_M5BoCE04QAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#kitAlimentacao">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/bonecos ecologicos.jpg" class="card-img-top" alt="..." height="300px">

                <div class=" card-body ">
                    <h5 class="card-title ">Boneco Natunecos</h5>
                    <ul class="card-text deco ">
                        <li>Vendidos separadamente</li>
                        <li>Validade das sementes:</li>
                        <li>45 dias</li>
                    </ul>
                    <p class="fw-bold ">R$ 13,00</p>
                    <a href="https://www.elo7.com.br/boneco-ecologico-turminha-natunecos/dp/B74B9B?elo7_source=google_shop&elo7_medium=cpc&elo7_campaign=Shopping-google_shop-cpc-Shopping-Festas-Smart&elo7_content=Festas_Smart&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFTaPqeG_ocHXg6BOgxXqtnPANEmiWF12IiTAZTeeYkSz74Pow2qzxRoCilwQAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesBoneco">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Copo Silicone.jpg" class="card-img-top " alt="... " height="300px ">
                <div class="card-body">
                    <h5 class="card-title ">Copo Retrátil 200ml</h5>
                    <ul class="card-text deco ">
                        <li>Silicone alimentício</li>
                        <li>Não tóxico</li>
                        <li>Valor unitário</li>
                    </ul>
                    <p class="fw-bold">R$ 22,97</p>
                    <a href="https://www.ekological.com.br/copos-e-garrafas/copo-retratil-silicone-200ml" target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesCopo">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/escova infantil.jpg" class="card-img-top " alt="... " height="300px ">
                <div class="card-body ">
                    <h5 class="card-title ">Escova Dental Infantil</h5>
                    <ul class="card-text deco ">
                        <li>Material: Bambu</li>
                        <li>Reutilizável</li>
                        <li>Cerdas: PBT</li>
                    </ul>
                    <p class="fw-bold">R$ 13,00</p>
                    <a href="https://www.ekological.com.br/casa-sustentavel/escova-de-dente-de-bambu-infantil" target="_blank" class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesEscova">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Kit Alimentação -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="kitAlimentacao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kit Alimentação ECO Zebra - Girotondo Baby</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>O kit alimentação ECO da Girotondo é fabricado com fibra de bambu. Além de ser ecologicamente correto é biodegradável e durável. </p>
                <p>Completo, temático e contém 5 peças sendo: prato, tigela, copo, colher e garfo. Perfeito para a hora das refeições.</p>
                <p>O bambu possui uma propriedade natural de eliminação das bactérias que previne a proliferação e ainda as combate.</p>
                <p>Resistente a temperatura entre - 20°C a 70°C.</p>
                <ul>
                    <p class="fw-bold">
                        Informações das medidas:
                    </p>
                    <li>
                        Prato: 21,0 cm (altur) X 20,5 cm (larg). Peso 160g.
                    </li>
                    <li>
                        Tigela: 13,0 cm (altur) X 14,5 cm (larg). Peso 85g.
                    </li>
                    <li>
                        Copo: 9,0 cm (altur) X 8,0 cm (larg). Peso 70g.
                    </li>
                    <li>
                        Talheres: 13,5 cm (altur) X 1,0 cm (larg). Peso 15g.
                    </li>
                    <li>
                        Cor: zebra preta e as bordas azuis.
                    </li>
                </ul>

                <p class="fw-bold">
                    Instruções:
                </p>

                <li class="deco">Pode ser usado na lava-louças (parte superior apenas).</li>
                <li class="deco">Não limpe o produto com solventes, esponja abrasiva ou produtos químicos fortes, pois poderá resultar em danos no produto.</li>
                <li class="deco">Não usar em forno microondas.</li>
                <li class="deco">Não contém Bisfenol (BPA), PVC e ftalatos.</li>
                <li class="deco">Idade recomendada: a partir de 6 meses.</li>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Kit Alimentação -->

<!-- Modal Bonecos -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesBoneco" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Boneco ecológico - Turminha Natunecos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Cultive o seu NatuNeco e ele vai te surpreender.</p>
                <p>Ele é recreativo e desperta o interesse em cuidar da natureza e também a importância de regar para que as sementes germinem e cresçam.</p>
                <p>Embalagem padrão - pratinho quadrado , celofane , fitilho de sisal e manual de instruções.</p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Altura: 12cm.
                    </li>
                    <li>
                        Largura: 12cm.
                    </li>
                    <li>
                        Comprimento: 12cm.
                    </li>
                    <li>
                        Peso: 180g.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Bonecos -->

<!-- Modal Copo -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesCopo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Copo Retrátil De Silicone 200ML</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Copo de silicone retrátil com aro de metal, fácil de segurar, dobrar e pode ser facilmente armazenado no seu bolso, mochila ou mala. O quadrado na parte inferior torna o copo mais aderente.
                </p>
                <p>
                    Ele também possui uma corda de mão para que você possa carregá-lo facilmente ou anexar com um gancho. É conveniente de usar e economiza espaço. Seguro e ecológico, este copo de viagem dobrável é feito de silicone 100% de qualidade alimentar, não tóxico.
                </p>
                <p>
                    A sua tampa permite que o interior do copo fique limpo, o que faz com que seja confortável de usar. É muito fácil de limpar e reutilizar, agora você não precisa mais usar um copo de plástico descartável.
                </p>
                <p>
                    Feito para lidar com um estilo de vida ativo para auxiliar a tomar líquidos frios ou quentes sem depender de plástico.
                </p>
                <p>
                    Ideal para caminhadas, camping, esportes, fitness e viagens.
                </p>
                <p>
                    De material inquebrável, proporciona economia de espaço e é fácil de limpar. Adequado para café, chá, água, refrigerantes, smoothie, café gelado, entre outros.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Capacidade: 200ml.
                    </li>
                    <li>
                        Peso: 72 gramas.
                    </li>
                    <li>
                        Tamanho: 9 cm x 8 cm x 4,5 cm.
                    </li>
                    <li>
                        Material: 100% silicone de grau alimentar.
                    </li>
                </ul>
                <p class="fw-bold">
                    Características:
                </p>

                <li class="deco">Feito de silicone de grau alimentício com tampa de aço inoxidável. Este produto é 100% livre de BPA, aprovado pela FDA, não tóxico e inodoro.</li>
                <li class="deco">Com capacidade de 200ml, é dobrável para caber no bolso, na bolsa, na mochila ou pendurado na alça. Pesa apenas 72 gramas.</li>
                <li class="deco">Feito para lidar com um estilo de vida ativo para auxiliar a tomar líquidos frios ou quentes sem depender de plástico.</li>
                <li class="deco">Não-tóxico, em favor da proteção ambiental, sem qualquer odor.</li>
                <li class="deco">Resistência a impacto, suporta alta temperatura de 220 graus a -30 graus com fundo resistente.</li>
                <li class="deco">De material inquebrável, proporciona economia de espaço e é fácil de limpar.</li>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Copo -->

<!-- Modal Lava Louças -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesEscova" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Escova de dentes infaltil de Bambu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Por que encher aterros com plástico quando não é necessário? Uma escova de plástico pode levar até 400 anos para se degradar no meio ambiente, não precisamos contribuir com mais plástico para o planeta.</p>
                <p>o bambu possui propriedades naturais que resistem, é um escudo natural contra bactérias e germes.</p>
                <p>Escova ecológica avulsa de fabricação nacional é biodegradável, sustentável e ecologicamente correta. O seu cabo mais arredondado e largo auxiliar no manuseio e melhora o conforto durante a escovação. Estas escovas são feitas com cerdas
                    macias, removendo todas as sujeiras para te deixar com um lindo sorriso.</p>
                <p>É adequada para crianças. Suas cerdas macias de nylon são reciclavéis e a sua haste biodegradável, podendo ser enterrada após ao fim de sua vida útil.</p>


                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Tamanho: 15 x 1 cm.
                    </li>
                    <li>
                        Peso: 6 g.
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Lava Louças -->
<hr>