<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Infantil</h1>
                <p class="lead text-center">Itens voltados para o público Infantil</p>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/prato-infantil.webp" class="card-img-top" alt="..." height="273px">
                <div class="card-body">
                    <h5 class="card-title">Prato Infantil Ecológico</h5>
                    <ul class="card-text deco">
                        <li>1 unidade</li>
                        <li>Feito de madeira reciclável</li>
                        <li class='st'>Cor: Branco</li>
                    </ul>
                    <p class="fw-bold mt-5">R$ 19,90</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/bonecos ecologicos.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title ">Boneco Turminha Natunecos</h5>
                    <ul class="card-text deco ">
                        <li>Vendidos separadamente</li>
                        <li>Validade das sementes-45 dias</li>
                        <li class='st'>Cor: marrom</li>
                    </ul>
                    <p class="fw-bold ">R$ 255,00</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/leggin infantil.jpg" class="card-img-top " alt="... " height="252px">
                <div class="card-body ">
                    <h5 class="card-title ">Calça Legging Infantil</h5>
                    <ul class="card-text deco ">
                        <li>Cós largo para maior conforto</li>
                        <li>Tecido Ecológico</li>
                        <li>Cor: Preto</li>
                    </ul>
                    <p class="fw-bold mt-5 ">R$ 64,87</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/escova infantil.webp" class="card-img-top " alt="... " height="275px">
                <div class="card-body ">
                    <h5 class="card-title ">Escova Dental Infantil</h5>
                    <ul class="card-text deco ">
                        <li>Material: Bambu</li>
                        <li>Reutilizável</li>
                        <li>Cor: marrom</li>
                    </ul>
                    <p class="fw-bold mt-5">R$ 10,00</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>