<div class="col-md-6 img p-5">
    <div class="row d-flex justify-content-center mt-5">
        <div class="fundo2-div">

            <div class="espaco text-center">
                <div class="d-flex justify-content-center ">
                    <h1 class="texto-h1">Entrar</h1>
                </div>

                
                <div>
                    <input [(ngModel)]='usuarioLogin.email' type="email" id="email"  placeholder="Digite o seu E-mail:" class="mt-4 mb-4 a">
                </div>

                <div>
                    <input [(ngModel)]='usuarioLogin.senha' type="password" id="senha"  placeholder="Digite a sua Senha:" class="mb-5 a">
                </div>

                <div>
                    <button type="button" class="btn btn-outline-success mb-4 tm menu" (click)='logar()'>Logar</button>
                </div>
            </div>
        </div>
    </div>
        <div>
            <p class="texto-h2 text-center mt-3">Se caso não tiver uma conta | <a routerLink="/Cadastrar">Cadastre-se</a></p>
        </div>
    </div>
