.cor{
    background-color: green;
}

.a{
    width:  300px;
    height: 38px;
    border-radius: 15px;
    border: none;
}

.tm{
    width: 200px;
    border-radius: 20px;
    font-weight: bold;
}

.img{
    background-image: url(../../assets/img/Folhagem2.png);
    background-repeat: no-repeat;
    background-size: 700px;
    width: 100vw;
    height: 100vh;;
}

.fundo2-div{
    background-color: #FBAB7E;  
    background-image: linear-gradient(62deg, #46fc4c 0%, #B9A4BF 100%);
    width: 400px;
    height: 415px;
    border-radius: 20px;
}

.espaco{
    margin-top: 70px;
}

.texto-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;   
}

.menu:hover{
    background-color: rgb(73, 192, 62);
}

.texto-h1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: bold;
}