<div class="container=flex cor">
    <div class="row">

        <div class="d-flex  mt-4">
            <div class="col-md-1"></div>

            <div class="col-md-2 estilo-texto">
                <h5>O Mawe</h5>
                <p> Home</p>
                <p>Sobre-nós</p>
            
            </div>

            <div class="col-md-2 estilo-texto">
                <h5>Atendimento</h5>
                <p>Contato</p>
                <p>Login</p>
                <p>Cadastro</p>
            </div>

            <div class="col-md-2 estilo-texto">
                <h5>Pagina-1</h5>
                <p>Casa</p>
                <p>Moda</p>
                <p>Saúde</p>
            </div>
            
            <div class="col-md-2 estilo-texto">
                <h5>Pagina-2</h5>
                <p>Pet</p>
                <p>Papelaria</p>
                <p>Cosmeticos</p>
            </div>

            <div class="col-md-2 estilo-texto">
                <h5>Pagina-3</h5>
                <p>Artesanato</p>
                <p>Infantil</p>
            </div>  
        </div>
</div>
    <div class="row d-flex  justify-content-center">
        <img src="../../assets/img/Logo-Empresa/Logo_sem_slogan.png" alt="" class="foto">
    </div>
</div>