<div class="container=flex cor">
    <div class="row">

        <div class="d-flex  mt-4">
            <div class="col-md-1"></div>

            <div class="col-md-2 estilo-texto">
                <p class="mt-4"><a class="link" routerLink="/Logar">Login</a></p>
                <p><a class="link" routerLink="/Cadastrar">Cadastro</a></p>            
            </div>

            <div class="col-md-2 estilo-texto">
                <p class="item-rodape-chamativo mt-4"><a class="link" routerLink="/home">Home</a></p>
                <p class="item-rodape-chamativo"><a class="link" routerLink="/sobre-nos">Sobre-nós</a></p>
                <p class="item-rodape-chamativo"><a class="link" routerLink="/contato">Contato</a></p>
            </div>

            <div class="col-md-2 estilo-texto">
                <p class="mt-4"><a class="link" routerLink="/arte">Artesanato</a></p>
                <p><a class="link" routerLink="/casa">Casa</a></p>
                <p><a class="link" routerLink="/cosmeticos">Cosmeticos</a></p>
            </div>
        
            <div class="col-md-2 estilo-texto">
                <p class="mt-4"><a class="link" routerLink="/infantil">Infantil</a></p>
                <p><a class="link" routerLink="/moda">Moda</a></p>
                <p><a class="link" routerLink="/papelaria" >Papelaria</a></p>
            </div>
            
            <div class="col-md-2 estilo-texto">
                <p class="mt-4"><a class="link" routerLink="/pet">Pet</a></p>
                <p><a class="link" routerLink="saude">Saúde e Bem-Estar</a></p>
            </div>  
        </div>
</div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12">
            <img src="https://i.imgur.com/CsVGFbm.png" alt="" class="foto">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 estilo-texto d-flex justify-content-center">
            <h5>Nossas Redes Sociais:</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
        <ul class="d-flex justify-content-center">
                <li> <a href="https://www.linkedin.com/in/mawe/" target="_blank"> <i class="fab fa-linkedin">  </i> </a></li>
                <li> <a href="https://github.com/GuilhermeRodriguesSantos/ProjetoMawe" target="_blank"> <i class="fab fa-github-square"></i> </a> </li>
                <li> <a href="https://www.facebook.com/projetomawe" target="_blank"> <i class="fab fa-facebook-square"></i></a> </li>
                <li> <a href="https://www.instagram.com/mawe_plataforma/" target="_blank"> <i class="fab fa-instagram"></i> </a> </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <p>&copy; Todos os direitos reservados a equipe Mawé</p>
    </div>
</div>