.cor {
    background-image: url(../../assets/img/Rodapé-atualizado.png);
    text-align: center;
    width: 100%;
    height: 260px;
}

.fab {
    font-size: 45px;
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: 20px;
}

.texto1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.texto2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #DD2A7B;
}
.fundo-div{
    background-color: white;
    width: 370px;
   
}

.ct{
    margin-right: 30px;
}