<footer>
<div class="container-flex cor">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center mt-2">

            <div class="fundo-div">
                
            <div class="mt-5">
                <p class="texto1">Siga nossas redes</p>
            </div>
            <div>
                <ul class="d-flex justify-content-center ct">
                    <li>
                       <a href="https://www.facebook.com/Maw%C3%A9-105587958450963" target="_blank"><i class="fab fa-facebook-square"></i></a> 

                    </li>
                    <li>
                        <a  href="https://www.instagram.com/mawe_plataforma/" target="_blank"> <i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/maw%C3%A9-e-commerce-25810a218/" target="_blank">  <i class="fab fa-linkedin"></i></a>          
                    </li>
                </ul>
            </div>

            <div>
                <p class="texto2">Mawé todos os direitos reservados &copy;</p>
            </div>
        </div>
    </div>
    </div>

</div>
</footer>

<!--<div class="cor">
                <p>A</p>
                <img src="../../assets/img/Cabecalho.jpg" alt="" height="300px" width="1377px">

            </div>-->