<div class="container-flex">


  <div class="row img-row">

    <div class="col-sm-12">



        <div class="d-flex justify-content-center">


   <div class="fundo2-div">

    <div class="form-group ">
      <h1 class="text-center">Entre em Contato!</h1>

  <div class="form-group">
  <div class="mt-4">
    <label for="nome">Nome*</label><br>
    <input [(ngModel)]='usuario.nome' type="text" name="nome" id="nome" placeholder="Seu nome" onblur="validacaoEmail(f1.nome)"  maxlength="60" size='65'>
  </div>

      <div class="form-group ">
    <div class="mt-4 ">
      <label for="email">E-mail*</label><br>
      <input [(ngModel)]='usuario.email' type="text" name="email" id="email" placeholder="Seu e-mail" onblur="validacaoEmail(f1.email)"  maxlength="60" size='65'>
    </div>


  <div class="form-group">
    <div class="mt-4 ">
    <label for="assunto">Assunto:</label> <br>
        <textarea name="assunto" id="assunto" cols="68" rows="4" placeholder="mande sua menssagem"></textarea> 
    </div>
  </div>

  

    <div class="d-flex justify-content-center p-3">
      <button type="submit" class="btn btn-success mr-4 m-lg-3 menu" (click)= "enviar()">Enviar</button>
      <button type="submit" class="btn btn-danger mr-4 m-lg-3 menu2"  routerLink='/home' >Cancelar</button>


</div>
    </div>
  </div>
</div>
</div>
</div>