.img-row{
    min-height: 400px;
    background-image: url('../../assets/img/Folhagem.png'); 
    min-height: 695px; 
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height:100px;
    border:solid 3px;
    border-radius:20px;
  }

  .fundo2-div{
    background-color: #FBAB7E;  
    background-image: linear-gradient(62deg, #46fc4c 0%, #B9A4BF 100%);
    width: 500px;
    height: 530px;
    border-radius: 40px;
   
}

.menu:hover{
  background-color: #3b5998;
}

.menu2:hover{
  background-color: #a10a2b;
}


.texto-1{
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.texto{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.btn-form{
  width: 130px;
  height: 43px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 20px;
}

.txt-imp{
  width: 320px;
  font-style: oblique;
  border: none;
  border-radius: 20px;
  height: 37px;
}

.mg-lf{
  margin-left: 15px;
}