.img-row{
    min-height: 600px;
    background-image: url('../../assets/img/Folhagem.png');  
    min-height: 695px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .margin{
      margin-left: 30%;
  }

.classe-input{
    
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: black;
    font-size: 20px;
    
}



