<div class="container">
    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Artesanato</h1>
                <p class="lead text-center">Artigos de criação manual</p>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Caixa Madeira.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Caixa de Madeira Geek</h5>
                    <ul class="card-text deco">
                        <li>Controle Antibacteriano</li>
                        <li>Madeira Ecológica</li>
                        <li>Cor: Amarelo</li>
                    </ul>
                    <p class="fw-bold ">R$93,50</p>
                    <a href="https://www.elo7.com.br/caixa-madeira-gamer-interrogacao/dp/1401F7C?nav=vip_rp_0_1#wpm=0&drzv=1&cat=1&rcp=1&hpa=0&lpfcm=1&ps2=1&sdps=0&dwhc=1&rch=1&hsv=1&bf=0&pcpe=1&pssb=0&osrlt7=0&ucrq=1&supc=1&psews=0&pnt=1&spsem=0&carf=1&paok=1&droam=0&sgta=1&df=d&rps=0&srm=1&vpl=1&fsfv=0&sew=1&deac=0&dld=1&wppbm=1&dqs=1&csdm=0&sms=0&spc=1&staa=0&smsm=0&usb=1&sseov=1&ses=0&rcpd=1&wppbd=1&sei=1&cscws=0&disc=1&suf=0&uje=0&smps=0&rfn=0&sedk=1&sewb=0&uso=o&wcld=1&smc=1&dcc=0&idfs=1&psedm=0&osrl=0&lvbbob=1&sum=0&sep=1&auto=1&cpr=0&utp=0&accb=0&fnc=0&oppb=0&secpl=0&lvbbpm=1&wsld=1&doar=0&inp=0&sed=1"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesCaixa">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Luminária Esferas.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Luminária De Mesa</h5>
                    <ul class="card-text deco ">
                        <li>Soquete E-27</li>
                        <li>Saída: plug 2 pinos</li>
                        <li>Material: Compensado</li>
                    </ul>
                    <p class="fw-bold ">R$119,00</p>
                    <a href="https://www.elo7.com.br/luminaria-esferas-de-mesa/dp/152ECA5?pp=21&pn=1&nav=sch_pd_sr_1_21&qrid=RoH3HP3lYZw6#wpm=0&drzv=1&cat=1&rcp=1&hpa=0&lpfcm=1&pso=up&ps2=1&sdps=0&dwhc=1&rch=1&hsv=1&bf=0&pcpe=1&pssb=0&osrlt7=0&ucrq=1&supc=1&psews=0&pnt=1&spsem=0&carf=1&paok=1&droam=0&sgta=1&df=d&rps=0&srm=1&vpl=1&fsfv=0&ssl=0&sew=1&deac=0&dld=1&wppbm=1&dqs=1&csdm=0&sms=0&spc=1&staa=0&smsm=0&usb=1&sseov=1&ses=0&rcpd=1&wppbd=1&sei=1&cscws=0&disc=1&suf=0&uje=0&smps=0&rfn=0&sedk=1&sewb=0&uso=m&wcld=1&smc=1&dcc=0&idfs=1&psedm=0&osrl=0&lvbbob=1&sum=0&sep=1&auto=1&cpr=0&utp=0&accb=0&fnc=0&oppb=0&secpl=0&lvbbpm=1&wsld=1&doar=0&inp=0&sed=1"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesLuminaria">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/penas-boho-macrame.jpg" class="card-img-top " alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Penas Boho Macramê</h5>
                    <ul class="card-text deco ">
                        <li>Fios 100% Algodão</li>
                        <li>Peso: 500 g</li>
                        <li>Material colorido</li>
                    </ul>
                    <p class="fw-bold ">R$ 80,00</p>
                    <a href="https://www.elo7.com.br/penas-boho-macrame-decorativas/dp/1486992?elo7_source=google_shop&elo7_medium=cpc&elo7_campaign=Shopping-google_shop-cpc-Shopping-Casa_e_Decor_Categorizada-Smart&elo7_content=Casa_e_Decor_Categorizada-Smart&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFaC3EgWtCvFM_zTAA67PQbLwBcusfX6fPcQrzng3up5XWH75o_-XfRoC8REQAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesPenas">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/quadro-handmade-buddha.jpg" class="card-img-top " alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Quadro Buddha</h5>
                    <ul class="card-text deco ">
                        <li>Pintada à mão </li>
                        <li>Variações na madeira</li>
                        <li>Medidas: 15x20cm</li>

                    </ul>

                    <p class="fw-bold ">R$ 65,00</p>
                    <a href="https://www.elo7.com.br/quadro-handmade-buddha/dp/6C3E2C?pp=1&pn=1&nav=sch_pd_sr_1_1&qrid=WFBiHv7tEY03#wpm=0&drzv=1&cat=1&rcp=1&hpa=0&lpfcm=1&pso=up&ps2=1&sdps=0&dwhc=1&rch=1&hsv=1&bf=0&pcpe=1&pssb=0&osrlt7=0&ucrq=1&supc=1&psews=0&pnt=1&spsem=0&carf=1&paok=1&droam=0&sgta=1&df=d&rps=0&srm=1&vpl=1&fsfv=0&ssl=0&sew=1&deac=0&dld=1&wppbm=1&dqs=1&csdm=0&sms=0&spc=1&staa=0&smsm=0&usb=1&sseov=1&ses=0&rcpd=1&wppbd=1&sei=1&cscws=0&disc=1&suf=0&uje=0&smps=0&rfn=0&sedk=1&sewb=0&uso=o&wcld=1&smc=1&dcc=0&idfs=1&psedm=0&osrl=0&lvbbob=1&sum=0&sep=1&auto=1&cpr=0&utp=0&accb=0&fnc=0&oppb=0&secpl=0&lvbbpm=1&wsld=1&doar=0&inp=0&sed=1"
                        target="_blank" class="btn btn-outline-success btn-sm  ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#detalhesQuadro">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Caixa de Madeira -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesCaixa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caixa de Madeira Gamer Interrogação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Caixa personalizada com interrogação do jogo de video game Super Mario, feita em MDF, pintada em amarelo por fora, e em marrom por dentro. Imagem interrogação trabalhada em relevo. </p>
                <p>Sai de fabrica com três selos de garantia: Controle de Qualidade, Madeira Ecologica e Microban (controle antibacteriano).</p>
                <p>Para presentear, decorar e organizar de uma forma muito criativa.</p>
                <p>Seja criativo na hora de presentear , para presentes pequenos é possível usar a bexiga dentro da caixa e deixar a pessoa estourar e se surpreender.</p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Acompanha três bexigas e um alfinete.
                    </li>
                    <li>
                        Tampa solta.
                    </li>
                    <li>
                        Altura: 15cm.
                    </li>
                    <li>
                        Largura: 15cm.
                    </li>
                    <li>
                        Comprimento: 15cm.
                    </li>
                    <li>
                        Peso: 300g.
                    </li>
                </ul>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Caixa de Madeira -->

<!-- Modal Luminária -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesLuminaria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Luminária Esferas de Mesa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p>Uma peça única e linda para decorar o seu ambiente!</p>
                <p>Luminária feita à mão, trabalhada em madeira compensada.</p>
                <p>Fiação em Tecido de 2m padrão, mas tamanho e cor da fiação são customizáveis de acordo com solicitação do cliente.</p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        A madeira pode apresentar variação de veios e tonalidades.
                    </li>

                    <li>
                        Produto não acompanha Lâmpada.
                    </li>

                    <li>
                        Prazo de produção da de 10 dias úteis.
                    </li>
                    <li>
                        Peso: 1000g
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Luminária -->

<!-- Modal Penas -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesPenas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Penas Boho Macramê Decorativas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Conjunto com 3 Penas Rústicas decorativas em estilo Boho. Para decorar o seu cantinho com muita elegância e modernidade.</p>
                <p>Produto artesanal, feito a mão em fios 100% algodão.</p>
                <p>Consulte-nos a disponibilidade de cores.</p>
                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Medidas das penas no conjunto: P: 20cm M: 24cm G: 28cm
                    </li>
                    <li>
                        Acompanha madeira rústica de 45cm de largura.
                    </li>
                    <li>
                        Altura: 40cm.
                    </li>
                    <li>
                        Largura: 45cm.
                    </li>
                    <li>
                        Comprimento: 40cm.
                    </li>
                    <li>
                        Peso: 500g
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Penas -->

<!-- Modal Quadro -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesQuadro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quadro Handmade - Buddha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Imprimir a sua personalidade na decoração com quadros que retratam o seu estilo de vida, suas preferências, visões do mundo e frases que te representam.</p>
                <p>Placa em madeira pinus ou compensado de curupixá, pintada à mão com canetas permanentes e tinta pva, finalizada com verniz fosco.</p>
                <p>Por se um produto natural e artesanal, há variações nos veios da madeira, podendo ocorrer diferenças em relação a foto.</p>
                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Acompanha gancho serrilhado atrás para pendurar.
                    </li>
                    <li>
                        Tonalidades podem variar.
                    </li>
                    <li>
                        Altura: 20cm.
                    </li>
                    <li>
                        Largura: 2cm.
                    </li>
                    <li>
                        Comprimento: 15cm.
                    </li>
                    <li>
                        Peso: 300g
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Quadro -->
<hr>