<!-- Background Inicial  -->
<div class="container-flex">
    <div class=" row cor d-flex align-items-center">
        <div class="col-md-7">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="tamanho-texto mt-5">Olá!</h1>
                    <h5 class="tamanho-texto2">Pronto para Cadastrar seus Segmentos e Produtos?</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-lg btn-light text-btn" data-bs-toggle="modal" data-bs-target="#NovoProduto">Novo Produto</button>
                    <a class="btn btn-lg btn-outline-light dit" href="#Produtos"> Ver Produtos</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 d-flex justify-content-center">

                    <h2 class="text-white mt-5">Dúvidas com o cadastro?</h2>
                </div>
                <div class="row d-flex justify-content-center mt-4 mb-2 ">
                    <div class="col-md-5">
                        <button class="btn btn-lg btn-outline-light text-btn" data-bs-toggle="modal" data-bs-target="#tutorial">Clique aqui</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Background Inicial  -->


<!-- Tab -->
<div class="container mt-5 mb-5" id="Produtos">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <button class="nav-link active text-secondary font-weight-bold" id="nav-TodosProdutos-tab" data-bs-toggle="tab" data-bs-target="#nav-TodosProdutos" type="button" role="tab" aria-controls="nav-TodosProdutos" aria-selected="true">Todos os Produtos</button>

            <button (click)="findByIdUsuario()" class="nav-link text-secondary font-weight-bold" id="nav-MeusProdutos>-tab" data-bs-toggle="tab" data-bs-target="#nav-MeusProdutos" type="button" role="tab" aria-controls="nav-MeusProdutos" aria-selected="false">Meus Produtos</button>

        </div>

    </nav>
    <div class="tab-content mt-3 mb-3" id="nav-tabContent">
        <div class="tab-pane fade show active " id="nav-TodosProdutos" role="tabpanel" aria-labelledby="nav-TodosProdutos-tab">

            <!-- Card Todos Produtos-->

            <div class="container card-grid">
                <div class="row d-flex justify-content-center">

                    <figure class="card card-product-grid card-md" *ngFor='let produto of listaProdutos'>
                        <a class="img-wrap mb-4" data-abc="true"> <img class="im mt-4" src={{produto.url}}> </a>
                        <figcaption class="info-wrap">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-9 col-xs-9">
                                    <h6 class="title" data-abc="true">{{produto.nome}}</h6> <span class="rated">{{produto.categoria.segmentoEmpresa}}</span> </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="rating text-right">Cód: {{produto.id}} </div>
                                    <div><span class="rated">Qtd: {{produto.quantidade}}</span></div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment ">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9">
                                        <h6 class="title" data-abc="true">R$ {{produto.preco}}</h6>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"><i class="fas fa-briefcase"> {{produto.empresaCriadora.nome}}</i>
                                        </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>


                    </figure>
                </div>
            </div>

            <!-- Card Todos Produtos-->
        </div>

        <div class="tab-pane fade" id="nav-MeusProdutos" role="tabpanel" aria-labelledby="nav-MeusProdutos-tab">

            <!-- Card Meus Produtos-->
            <div class="container">
                <div class="d-flex justify-content-center row" *ngFor='let produto of usuario.produtosCadastrados'>
                    <div class="col-md-10">
                        <div class="row d-flex p-2 bg-white border rounded mt-3 align-items-center justify-content-center">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src={{produto.url}}></div>
                            <div class="col-md-6 mt-4 mb-4">
                                <h4>{{produto.nome}}</h4>
                                <div class="ratings mt-3 mb-3">{{produto.descricao}}</div>
                                <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Código: {{produto.id}}</span><span class="dot"></span><span>Quantidade: {{produto.quantidade}}</span><span class="dot"></span></div>

                            </div>
                            <div class="align-items-center align-content-center justify-content-center col-md-3 mt-4 mb-4 bor">

                                <h4 class="mr-1">R$ {{produto.preco}}</h4>


                                <h6 class="text-success">Em estoque</h6>
                                <div class="d-flex flex-column mt-4"><button [routerLink]="['/produtoed', produto.id]" class="btn btn-primary btn-sm" type="button">Editar</button><button [routerLink]="['/produtodl', produto.id]" class="btn btn-outline-danger btn-sm mt-2" type="button">Excluir</button></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <!--/Card Meus Produtos-->

        </div>
    </div>

    <!--/Tab -->

    <!-- Modal Novo Produto -->
    <div class="modal fade" id="NovoProduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog st-in">
            <div class="modal-content">
                <div class="modal-header bkc">
                    <h3 class="modal-title" id="staticBackdropLabel">Novo Produto</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bis">

                    <div class="form-group mt-2 mb-2">
                        <label for="Nome">Nome</label>
                        <input [(ngModel)]='Produto.nome' type="text" class="form-control" id="nome" placeholder="Nomeie o Produto">
                    </div>

                    <div class="form-group mt-2 mb-2">
                        <label for="descricao">Descrição</label>
                        <input [(ngModel)]='Produto.descricao' type="text" class="form-control" id="descricao" placeholder="Descreva o produto">
                    </div>

                    <div class="form-group mt-2 mb-2">
                        <label for="preco">Preço</label>
                        <input [(ngModel)]='Produto.preco' type="number" class="form-control" id="preco" placeholder="Digite o valor do produto:">
                    </div>


                    <div class="form-group mt-2 mb-2">
                        <label for="Quantidade">Quantidade</label>
                        <input [(ngModel)]='Produto.quantidade' type="number" class="form-control" id="Quantidade" placeholder="Insira a quantidade do produto">
                    </div>


                    <div class="form-group mt-2 mb-2">
                        <label for="url">Url</label>
                        <input [(ngModel)]='Produto.url' type="text" class="form-control" id="url" placeholder="Insira o link da imagem do produto">
                    </div>

                    <div class="form-group mt-2 mb-2">
                        <label for="Categoria">Escolha um Segmento ou | <a data-bs-dismiss="modal" routerLink="/categoria">Cadastre um novo</a></label>
                        <select name="Categoria" id="Categoria" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.segmentoEmpresa}}</option>
            </select>
                    </div>

                </div>
                <div class="modal-footer bkc text-light">
                    <button type="button" class="btn btn-danger btn-est" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-est" data-bs-dismiss="modal" (click)='publicar()'>Cadastrar</button>
                </div>
            </div>
        </div>

    </div>
    <!--/Modal Novo Produto -->


    <!-- Modal Carrosel Tutorial-->
    <div class="modal fade" id="tutorial" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>

                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../assets/img/Tutorial Cards/Card1.png" class="d-block w-100" alt="..." height="500px">
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/img/Tutorial Cards/Card2.png" class="d-block w-100" alt="..." height="500px">
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/img/Tutorial Cards/Card3.png" class="d-block w-100" alt="..." height="500px">
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/img/Tutorial Cards/Card4.png" class="d-block w-100" alt="..." height="500px">
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/img/Tutorial Cards/Card5.png" class="d-block w-100" alt="..." height="480px">
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/img/Tutorial Cards/Card6.png" class="d-block w-100" alt="..." height="480px">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Anterior</span>
                                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">proximo</span>
                                        </button>

                    </div>


                </div>

            </div>
        </div>

    </div>
</div>