<div class="container-flex">
    <div class=" row cor d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="tamanho-texto">Olá, {{usuario.nome}}!</h1>
                    <h5 class="tamanho-texto2">Pronto para Cadastrar seus Segmentos e Produtos?</h5>

                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light text-btn" data-bs-toggle="modal" data-bs-target="#NovoProduto">Novo Produto</button>
                    <a class="btn btn-outline-light dit" href="#Produtos"> Ver Produtos</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 d-flex justify-content-center">

            <img src="../../assets/img/Início/Environment-bro (1).png" alt="" width="500px">

        </div>
    </div>
</div>



<div class="container mt-5 mb-5" id="Produtos">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center sep" id="nav-tab" role="tablist">

            <button class="nav-link active text-secondary font-weight-bold" id="nav-TodosProdutos-tab" data-bs-toggle="tab" data-bs-target="#nav-TodosProdutos" type="button" role="tab" aria-controls="nav-TodosProdutos" aria-selected="true">Todos os Produtos</button>

            <button (click)="findByIdUsuario()" class="nav-link text-secondary font-weight-bold" id="nav-MeusProdutos>-tab" data-bs-toggle="tab" data-bs-target="#nav-MeusProdutos" type="button" role="tab" aria-controls="nav-MeusProdutos" aria-selected="false">Meus Produtos</button>

        </div>

    </nav>
    <div class="tab-content mt-3 mb-5" id="nav-tabContent">
        <div class="tab-pane fade show active " id="nav-TodosProdutos" role="tabpanel" aria-labelledby="nav-TodosProdutos-tab">

            <div class="card-group">
                <div class="card text-center cor-card " *ngFor='let produto of listaProdutos'>
                    <div class="card-header">
                        <img src="{{produto.url}}"alt="..." width="150px" height="100px">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title ">{{produto.nome}}</h4>
                        <p class="card-text">{{produto.descricao}}</p>
                    </div>

                    <ul class="list-group list-group-flush cor-card">
                        <li class="list-group-item">Quantidade: {{produto.quantidade}}</li>
                        <li class="list-group-item">Categoria: {{produto.categoria.segmentoEmpresa}}</li>
                        <li class="list-group-item">Criado por: {{produto.empresaCriadora.nome}}</li>
                    </ul>


                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-MeusProdutos" role="tabpanel" aria-labelledby="nav-MeusProdutos-tab">

            <div class="card-group">
                <div class="card text-center cor-card" *ngFor='let produto of usuario.produtosCadastrados'>
                    <div class="card-header">
                        <img src="{{produto.url}}" class="card-img-top img-card " alt="...">

                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{produto.nome}}</h4>
                        <p class="card-text">{{produto.descricao}}</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Preço: {{produto.preco}}</li>
                        <li class="list-group-item">Quantidade: {{produto.quantidade}}</li>
                    </ul>

                    <div class="card-body">
                        <a [routerLink]="['/produtoed', produto.id]" class=" mr-3 btn btn-light btn-text">Editar</a>
                        <a [routerLink]="['/produtodl', produto.id]" class=" espaco-b btn btn-outline-light">Apagar</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="NovoProduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Novo Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input [(ngModel)]='Produto.nome' type="text" class="form-control" id="nome" placeholder="Digite o Nome:">
                </div>


                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input [(ngModel)]='Produto.preco' type="number" class="form-control" id="preco" placeholder="Digite o Preço:">
                </div>


                <div class="form-group">
                    <label for="Quantidade">Quantidade</label>
                    <input [(ngModel)]='Produto.quantidade' type="number" class="form-control" id="Quantidade" placeholder="Digite a Quantidade:">
                </div>


                <div class="form-group">
                    <label for="descricao">descricao</label>
                    <input [(ngModel)]='Produto.descricao' type="text" class="form-control" id="descricao" placeholder="Digite a Descrição:">
                </div>


                <div class="form-group">
                    <label for="url">Url</label>
                    <input [(ngModel)]='Produto.url' type="text" class="form-control" id="url" placeholder="Digite a Url:">
                </div>

                <div class="form-group">
                    <label for="Categoria">Escolha um Segmento ou | <a data-bs-dismiss="modal" routerLink="/categoria">Cadastre-se um novo</a>:</label>
                    <select name="Categoria" id="Categoria" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.segmentoEmpresa}}</option>
            </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)='publicar()'>Cadastrar</button>
            </div>
        </div>
    </div>
</div>