/*Background Inicial*/

.tamanho-texto {
    font-size: 56pt
}

.tamanho-texto-2 {
    font-size: 18pt;
}

.a {
    width: 100;
    height: 100;
}

.dit {
    margin-left: 10px;
}

.espaco-b {
    margin-left: 10px;
}

.cor {
    background-image: url(../../assets/img/madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

.sep {
    margin-left: 30px;
}


/*Cards Meus Produtos*/

.bor {
    height: 200px;
    border-left: 2px solid;
    border-left-color: #afaeae;
}

.ratings {
    font-size: 16px;
    font-style: italic;
    text-justify: center;
}

.product-image {
    width: 100%;
    padding-right: 50px;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #74b486;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

.para {
    font-size: 16px
}


/*Cards Todos Produtos*/

a {
    text-decoration: none !important
}

.card-product-list,
.card-product-grid {
    margin-bottom: 0;
    margin-right: 30px;
}

.card {
    width: 500px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    margin-top: 20px
}

.card-product-grid:hover {
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    -webkit-transition: .3s;
    transition: .3s
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px
}

.card .img-wrap {
    overflow: hidden
}

.card-lg .img-wrap {
    height: 280px
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 275px;
    padding: 16px
}

[class*='card-product'] .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover
}

.img-wrap {
    text-align: center;
    display: block
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px
}

[class*='card-product'] a.title {
    color: #212529;
    display: grid
}

.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4
}

.bottom-wrap-payment {
    padding: 0px;
    border-top: 1px solid #e4e4e4
}

.rated {
    font-size: 15px;
    color: #b3b4b6
}

.im {
    border-radius: 20%;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.im:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}


/*Modal*/

.bkc {
    background-image: url(../../assets/img/folha.jpg);
    background-size: cover;
}

.st-in {
    font-style: oblique;
    font-size: larger;
}

.btn-est {
    width: 100px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bis {
    background-color: #a6cec3;
}

.st-in h3 {
    color: rgb(82, 79, 79);
}

input {
    border-radius: 20px;
}