.img-lf {
    margin-left: 200px;
}

.br {
    border-radius: 25px;
}

.a{
    margin-left: 30px;
}

.alinhar-texto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
}