<div class="container-flex">
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img/Barro-atualizado.png" alt="" width="1500" height="560">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <h1>Parcerias de Destaque</h1>
        </div>
    </div>
</div>
<div class="container img-lf">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
            <img src="../../assets/img/Logos/organicoInBox.jpg" alt="" width="200px" height="100px">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Logos/bob.jpg" alt="" width="200px" height="100px">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Logos/mundo.png" alt="" width="200px" height="200px" class="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/img/Logos/minhaMaeEumaGirafa.jpg" alt="" width="200px" height="200px">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Logos/eureciclo.png" alt="" width="200px" height="200px">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Logos/positiv.a.jpg" alt="" width="200px" height="200px">
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="../../assets/img/Logos/aresDeMato.jpg" alt="" width="200px" height="200px">
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/Logos/organica.jpg" alt="" width="200px" height="200px">
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/Logos/belagil_logo.jpg" alt="" width="200px" height="200px">
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h1>Produtos que Indicamos:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/img/lavalouças.png" alt="" class="br">
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/sabonete.jpg" alt="" width="235px" height="382px" class="br">
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/lVlouç.png" alt="" width="235px" height="382px" class="br">
            </div>
        </div>
    </div>