<div class="container-flex">
    <div class="row">
        <div class="col-sm-12">

            <!--Carrosel-->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/Barro-atualizado.png" class="d-block w-100" alt="..." height="600px">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/coalizaocuritiba.jpg" class="d-block w-100" alt="..." height="600px">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/economizar-agua.jpg" class="d-block w-100" alt="..." height="600px">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!--Carrosel-->

            <div class="row alinhar-texto mt-5">
                <div class="col-sm-12">
                    <h2 class="texto1">Empresas parceiras</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Cards -->

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/organicoInBox.jpg" class="card-img-top" alt="Logo Organicos in box">
                <div class="card-body">
                    <h5 class="card-title">Organicos in box</h5>
                    <p class="card-text">A Orgânicos in Box é uma plataforma digital de delivery de produtos 100% orgânicos que conecta pequenos produtores rurais a consumidores urbanos. Somos uma solução logística e tecnológica para democratizar o acesso à alimentação orgânica,
                        contribuindo para o comércio justo e a agricultura sustentável.</p>
                    <a href="https://www.organicosinbox.com.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/positiv.a.jpg" class="card-img-top" alt="Logo Positiva">
                <div class="card-body">
                    <h5 class="card-title">Positiv.a</h5>
                    <p class="card-text">Somos uma empresa Bio ecologicamente e socialmente responsável, que cria produtos e soluções para cuidar da sua casa, do seu corpo e do nosso planeta. Feita por quem tá no campo e cuida, todos os dias, da terra, do ar e da água Junto
                        com quem tá aqui na cidade querendo inovar. Sempre.</p>
                    <a href="https://www.positiva.eco.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/aresDeMato.jpg" class="card-img-top" alt="Logo aresdomato">
                <div class="card-body">
                    <h5 class="card-title">Ares de mato</h5>
                    <p class="card-text">O que no inicio era uma produção caseira, que atendia o uso pessoal e pequenas demandas, acabou conquistando pessoas Brasil afora. Nos alegra poder entregar produtos de qualidade para diversas pessoas em embalagens recicláveis ou compostáveis.
                        A ares do mato foi fundada em 2017, pela farmacêutica Gabriela Secco em RS.
                    </p>
                    <a href="https://www.aresdemato.com.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/mundo.png" class="card-img-top" alt="Logo Mundo verde">
                <div class="card-body">
                    <h5 class="card-title">Mundo Verde</h5>
                    <p class="card-text">Contribuir para melhorar a vida dos nossos clientes, franqueados, colaboradores, fornecedores, parceiros e todos aqueles que vivem neste Mundo, para que tenham uma vida saudável e com qualidade. Incentivar a vida saudável e a busca
                        do bem estar de todos, garantindo o desenvolvimento econômico sustentável de toda nossa cadeia e um menor impacto ambiental para o planeta. Ser a marca Mundial em produtos e serviços saudáveis.

                    </p>
                    <a href="https://www.mundoverde.com.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/belagil_logo.jpg" class="card-img-top" alt="Logo Bela Gil">
                <div class="card-body">

                    <h5 class="card-title">Bela Gil</h5>
                    <p class="card-text">Bela Gil é mestra em Ciências Gastronômicas pela Universidade de Ciências Gastronômicas da Itália (Unisg), com ênfase no sistema global da alimentação. É bacharelada em nutrição pela Hunter College em Nova York. Atualmente é vice-presidente
                        do Instituto Brasil Orgânico (IBO), apresentadora, chef de cozinha natural, escritora, ativista e professora convidada do programa de pós-graduação online da PUC-RS.
                    </p>
                    <a href="https://belagil.com/" class="btn btn-primary" target="_blank">Saiba mais</a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/eureciclo.png" class="card-img-top" alt="Logo Eureciclo">
                <div class="card-body">
                    <h5 class="card-title">Eu reciclo</h5>
                    <p class="card-text">Em 2014, Thiago Pinto, estudante de MBA em Northwestern Kellogg School of Management, vê nos baixos índices de reciclagem e na marginalização dos atores da cadeia uma oportunidade de atuação. Apaixonados por transformar o mundo em
                        um lugar mais sustentável, Thiago e Luciana Oliveira, co-fundadores da eureciclo, trazem ao Brasil um projeto que viria a revolucionar a forma como administramos os resíduos sólidos.</p>
                    <a href="https://www.eureciclo.com.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container alinhar-texto">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h2 class="texto1">Produtos mais vendidos</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <img src="../../assets/img/Produtos/copos.png" width="350px" alt="" class="br">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Produtos/escova.jpg" alt="" width="350" height="360" class="br">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Produtos/produtos-sustentaveis.jpg" alt="" width="350px" height="360px" class="br">
        </div>
    </div>
</div>