<div class="container-flex">
    <div class="row">
        <div class="col-sm-12">
            
              <!--Carrosel-->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/img/Barro-atualizado.png" class="d-block w-100" alt="..." height="600px">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/img/coalizaocuritiba.jpg" class="d-block w-100" alt="..." height="600px">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/img/economizar-agua.jpg" class="d-block w-100" alt="..." height="600px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <!--Carrosel-->

              <div class="row alinhar-texto mt-5">
                  <div class="col-sm-12">
                      <h2 class="texto1" >Empresas parceiras</h2>
                  </div>
              </div>
        </div>
    </div>
</div>


<!-- Cards -->

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/organicoInBox.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/positiv.a.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/aresDeMato.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/mundo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/belagil_logo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Logos/minhaMaeEumaGirafa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>



<div class="container alinhar-texto">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h2 class="texto1">Produtos que Indicamos</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <img src="../../assets/img/Produtos/copos.png" width="350px" alt="" class="br">
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/Produtos/escova.jpg" alt="" width="350" height="360" class="br">
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/Produtos/produtos-sustentaveis.jpg" alt="" width="350px" height="360px" class="br">
            </div>
        </div>
    </div>