<div class="container-fluid">
    <div class="row bg-secondary">
        <div class="col-sm-12 text-white mb-3">


            <h1 class="texto1 text-center">Produto</h1>
            <h5 class="texto2 text-center">Veja aqui todos os produtos e cadastre um novo!</h5>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="form-group">
                        <input [(ngModel)]='Produto.nome' type="text" value="nome" class="form-control mb-4" id="nome"
                            placeholder="Digite o nome do produto:">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='Produto.preco' type="text" value="Preço" class="form-control"
                            id="preço" placeholder="Digite a Descrição preço do produto:">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='Produto.descricao' type="text" value="descricao" class="form-control"
                            id="descricao" placeholder="Digite a Descrição preço do produto:">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]='Produto.quantidade' type="text" value="quantidade" class="form-control"
                            id="quantidade" placeholder="Digite a Descrição quantidade do produto:">

                    </div>
                    <div class="form-group">
                        <input [(ngModel)]='Produto.url' type="text" value="url" class="form-control"
                            id="url" placeholder="Digite a url do produto:">

                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-light" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h2 class="text-white text-center">Todos os Produto:</h2>
        </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id:</th>
                        <th scope="col">Nome:</th>
                        <th scope="col">Descrição:</th>
                        <th scope="col">Preço:</th>
                        <th scope="col">Quantidade:</th>
                        <th scope="col">url:</th>
                        <th scope="col" class="text-right">Modificações:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let Produto of listaProdutos'>
                        <th> {{Produto.id}}</th>
                        <td> {{Produto.nome}} </td>
                        <td> {{Produto.preco}} </td>
                        <td> {{Produto.descricao}} </td>
                        <td> {{Produto.quantidade}} </td>
                        <td> {{Produto.url}} </td>
                        <td class="d-flex justify-contente-end">
                            <button class="btn btn-info lado"> Editar </button>
                            <button class="btn btn-danger"> Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>