<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-primary">

                Você tem certeza de apagar esse Categoria? todas os Produtos relacionada a ela tambem serão apagadas.
            </h4>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h5 class="text-center text-info"> segmento: {{categoria.segmentoEmpresa}} </h5>
            <h5 class="text-center text-info"> Mt.Reutilizavel: {{categoria.materialReutilizado}} </h5>
            <h5 class="text-center text-info"> Mt.Reutilizavel: {{categoria.materialBiodegradavel}} </h5>

        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger" (click)='apagar()'>Sim</button>
            <button class="btn btn-success espaco"  routerLink='/categoria'> Não</button>

        </div>
    </div>
</div>
