<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Saúde e Bem Estar</h1>
                <p class="lead text-center">Itens para sua saúde e Bem Estar</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit chá.webp" class="card-img-top" alt="..." height="292">
                <div class="card-body">
                    <h5 class="card-title">Kit de Chá Calma</h5>
                    <ul class="card-text deco">
                        <li>11 chás e especiarias</li>
                        <li>Infusor + Pegador</li>
                        <li>Caixa em MDF</li>
                    </ul>
                    <p class="fw-bold mt-5">R$ 157,00</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit Óleos.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Kit Óleos Essenciais</h5>
                    <ul class="card-text deco">
                        <li>Dermatologicamente testado</li>
                        <li>Vegano e 100% natural</li>
                        <li>Kit com 3 Blends de Óleos</li>
                    </ul>
                    <p class="fw-bold ">R$ 169,00</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Maca Peruana.jpg" class="card-img-top" alt="..." height="300" width="200">
                <div class="card-body">
                    <h5 class="card-title">Maca Peruana 120 Cápsulas</h5>
                    <ul class="card-text deco">
                        <li>Rica em Vitaminas em Minerais Essenciais</li>
                        <li>100% Natural</li>
                    </ul>
                    <p class="fw-bold ">R$ 84,15</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Absorvente.webp" class="card-img-top" alt="..." height="267px">
                <div class="card-body">
                    <h5 class="card-title">Kit Absorventes Reutilizáveis</h5>
                    <ul class="card-text deco">
                        <li>5 Absorventes de pano</li>
                        <li>Bolsinha impermeável</li>
                        <li>Lavável dura em média 4 anos</li>
                    </ul>
                    <p class="fw-bold mt-4">R$ 157,90</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>