<div class="container">

    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Saúde e Bem Estar</h1>
                <p class="lead text-center">Itens para sua saúde e Bem Estar</p>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit chá.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Kit de Chá Calma</h5>
                    <ul class="card-text deco">
                        <li>11 chás e especiarias</li>
                        <li>Infusor + Pegador</li>
                        <li>Caixa em MDF</li>
                    </ul>
                    <p class="fw-bold">R$ 157,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-1769412593-kit-cha-calma-11-chas-e-especiarias-infusor-pegador-_JM#reco_item_pos=2&reco_backend=machinalis-seller-items-pdp&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=2ec3629e-9139-4528-8846-2dad67362f5e"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#kitCha">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit Óleos.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Kit Óleos Essenciais</h5>
                    <ul class="card-text deco">
                        <li>Sem óleo Mineral</li>
                        <li>Vegano e natural</li>
                        <li>3 Blends de Óleos</li>
                    </ul>
                    <p class="fw-bold ">R$ 169,00</p>
                    <a href="https://holistix.com.br/products/kit-oleos-essenciais?variant=39362889908329&currency=BRL&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFT4CY2oXDPac2D1kdIvxlERnvpj4l1ltYb5ie0SZQAOqZgb2yNXhVRoCOI8QAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#kitOleo">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Maca Peruana.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Maca Peruana</h5>
                    <ul class="card-text deco">
                        <li>Rica em Vitaminas </li>
                        <li>Minerais Essenciais</li>
                        <li>120 Cápsulas</li>
                    </ul>
                    <p class="fw-bold">R$ 99,00</p>
                    <a href="https://www.oceandrop.com.br/maca-peruana/p?gclid=CjwKCAjwmeiIBhA6EiwA-uaeFVR_mjYMrZo71RhHPMb5YQK8VrbHZLOweIVS2o_WYV2zF4GneS3WxRoChz8QAvD_BwE" target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#macaPeruana">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit Absorventes.png" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Kit Absorventes</h5>
                    <ul class="card-text deco">
                        <li>5 Absorventes de pano</li>
                        <li>Bolsinha impermeável</li>
                        <li>Dura em média 4 anos</li>
                    </ul>
                    <p class="fw-bold">R$ 157,90</p>
                    <a href="https://www.agorasou.eco.br/combo-absorventes-reutilizaveis-lua-crescente" target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#absorventes">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Kit Chá -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="kitCha" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kit Chá Calma - 11 Chás</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Todos os kits acompanham acessórios de inox de qualidade, além de várias Sugestõesde chás pra melhorar a sua digestão, suas noites de sono, seu apetite e sua disposição. Os chás se bem conservados tem validade de até um ano. Nossos produtos são Produzidos
                    artesanalmente, mas pode ficar tranquilo, as fotos refletem exatamente o que você vai receber aí na sua casa.
                </p>

                <p>
                    <b>Ingredientes na caixa:</b> Anis Estrelado, Capim Limão, Calêndula, Cavalinha, Chá Verde, Camomila, Erva Doce, Funcho, Hortelã, Hibisco e Macela.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        1 caixa de chá de MDF (20x25x7cm).
                    </li>
                    <li>
                        11 caixinhas de acrílico para condicionar os ingredientes.
                    </li>
                    <li>
                        1 pegador de inox.
                    </li>
                    <li>
                        1 infusor de inox.
                    </li>
                </ul>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Kit Chá -->

<!-- Modal Kit Óleos -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="kitOleo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kit de Óleos Essenciais Holistix</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Um kit de óleos essenciais, com três blends exclusivos, para te acompanhar em todos os momentos do dia. Um ótimo aliado para, naturalmente, ajustar a rotina e sincronizar nosso corpo com os ciclos biológicos.
                </p>
                <p>
                    A Ayurveda e a ciência moderna concordam: é preciso despertar com calma e energia. No momento de realizar atividades, ter clareza mental e foco. E à medida que o sol vai indo embora, desacelerar.
                </p>

                <ul>
                    <p class="fw-bold">
                        Vem conhecer as três fórmulas desse kit:
                    </p>

                    <li>
                        <b>Despertar:</b> Blend à base de óleos essenciais de alecrim e laranja doce, com um toque de limão-siciliano e cipreste. Fornece energia e tranquilidade na dose certa, essenciais para começar o dia com disposição e bom humor;
                    </li>
                    <li>
                        <b>Concentrar:</b> Blend de óleos essenciais de capim-limão e limão-siciliano, com um toque de alecrim. Fornece energia associada à concentração, proporcionando clareza mental para um dia mais produtivo;
                    </li>
                    <li>
                        <b>Relaxar:</b> Blend à base de óleos essenciais de lavanda e petitgrain, com um toque de laranja doce. Proporciona alívio de tensões físicas e mentais ao fim de um dia intenso, trazendo a sensação de bem-estar e relaxamento.
                    </li>

                </ul>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Dermatologicamente testado.
                    </li>
                    <li>
                        Vegano e 100% natural.
                    </li>
                    <li>
                        Sem parabenos e sem óleo mineral.
                    </li>
                </ul>
                <p class="fw-bold">
                    Como Usar:
                </p>
                <p>Com a ponta geladinha do roll-on, faça movimentos circulares na superfície da pele. Nossos pontos preferidos para a aplicação são o pulso, a nuca e a dobra do braço. Não precisa exagerar na quantidade, a ideia aqui é criar uma camada fina
                    e concentrada.</p>
                <p>Sabia que a ação dos óleos essenciais acontece de duas formas? Passando na pele, em que o produto é absorvido e cai na corrente sanguínea, e por inalação, em que a distribuição no corpo ocorre pelo sistema respiratório.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Kit Óleos -->

<!-- Modal Maca Peruana -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="macaPeruana" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Maca Peruana 120 Cápsulas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    A Maca Peruana é uma poderosa raiz que se desenvolve exclusivamente em condições climáticas especiais a 4.000 metros de altitude. Ela é consumida há séculos e vários estudos relatam sua eficácia. Cheia de nutrientes, é ideal para homens e mulheres.
                </p>

                <p>
                    Essa raiz é rica em vitaminas e minerais essenciais e compostos bioativos fenólicos!
                </p>
                <p>
                    É bom lembrar que, por não ser um medicamento, assim como todo alimento natural, os efeitos da Maca Peruana são percebidos a longo prazo. Dependendo do organismo de cada pessoa, eles podem ser notados, em média, após 3 ou 4 semanas. Para isso, é importante
                    realizar o consumo diário da raiz.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Peso: 72g.
                    </li>
                    <li>
                        Lata com 120 Cápsulas de 600mg.
                    </li>
                    <li>
                        Produto para 2 meses(Consumo de 2 cápsulas ao dia).
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Maca Peruana -->

<!-- Modal Absorventes -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="absorventes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Combo Absorventes Reutilizáveis - Lua Crescente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Os absorventes reutilizáveis de pano foram desenvolvidos em tecidos tecnológicos, que garantem um alto poder de absorção logo no primeiro uso, são confortáveis, higiênicos e secam super rápido após lavados;
                </p>
                <p>Você terá um contato mais próximo com o próprio ciclo menstrual e com o seu corpo. Quem usa absorventes descartáveis, por exemplo, têm mais dificuldade em notar se o sangue está saudável ou não, pois o plástico altera a coloração natural
                    e o cheiro.</p>
                <p>Fáceis de lavar, você pode lavar a mão durante o banho, deixar de molho ou então tire o excesso e coloque na máquina de lavar junto com suas roupas íntimas.</p>

                <p>Os absorventes reutilizáveis duram em média de 3 a 6 anos.</p>
                <ul>
                    <p class="fw-bold">
                        O Combo Lua Crescente contém:
                    </p>
                    <li>
                        1 absorvente reutilizável "Mini", com abas, tamanho 18 cm cada.
                    </li>
                    <li>
                        3 absorventes reutilizáveis "Normal", com abas, tamanho 22 cm cada.
                    </li>
                    <li>
                        1 absorvente reutilizável "Super", com abas, tamanho 25 cm.
                    </li>
                    <li>
                        Forro interno (fica em contato com a pele): 100% Algodão.
                    </li>
                    <li>
                        Recheio (interno): 100% PES.
                    </li>

                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Absorventes -->
<hr>