<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Papelaria e Escritório</h1>
                <p class="lead text-center">Itens de papelaria para sua organização</p>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/caderneta.webp" class="card-img-top" alt="..." height="294px">
                <div class="card-body">
                    <h5 class="card-title">Caderno Ecológico</h5>
                    <ul class="card-text deco">
                        <li>1 unidade</li>
                        <li>Feito de Bambu</li>
                        <li class='st'>Cor: Marrom</li>
                    </ul>
                    <p class="fw-bold mt-5">R$34,00</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/caneta ecologica.webp" class="card-img-top" alt="..." height="270px">
                <div class="card-body ">
                    <h5 class="card-title ">Caneta Ecológica Roller</h5>
                    <ul class="card-text deco ">
                        <li>Kit 10</li>
                        <li>Cor Da Tinta:Azul</li>
                        <li class='st'>Cor Do Exterior:Marrom-claro</li>
                    </ul>
                    <p class="fw-bold mt-5">R$20,00</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Estojo.jpg" class="card-img-top " alt="... " height="303px">
                <div class="card-body ">
                    <h5 class="card-title ">Estojo Fino</h5>
                    <ul class="card-text deco ">
                        <li>Tecido sustentável</li>
                        <li>Produzido com garrafas pet</li>
                        <li>Cor: Cinza</li>
                    </ul>
                    <p class="fw-bold ">R$ 25,90</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/bloco de notas.jpg" class="card-img-top " alt="... " height="270px">
                <div class="card-body ">
                    <h5 class="card-title ">Bloco de notas</h5>
                    <ul class="card-text deco ">
                        <li>Formato cubo com autoadesivos</li>
                        <li>Possui suporte para caneta</li>
                        <li>Conjunto de blocos com 4 cores</li>
                    </ul>
                    <p class="fw-bold mt-4">R$ 45,00</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>