<div class="container">

    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Papelaria e Escritório</h1>
                <p class="lead text-center">Itens de papelaria para sua organização</p>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Caderno Bambu.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Caderneta Ecológica</h5>
                    <ul class="card-text deco">
                        <li>1 unidade</li>
                        <li>Feito de Bambu</li>
                        <li>Cor: Natural</li>
                    </ul>
                    <p class="fw-bold">R$36,16</p>
                    <a href="https://www.magazineluiza.com.br/caderneta-capa-bambu-105x148cm-70-folhas-pautadas-com-caneta-de-bambu-topget/p/bhhd7ah8hc/pa/cdan/" target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#caderno">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Caneta Ecologica.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Caneta Ecológica Roller</h5>
                    <ul class="card-text deco ">
                        <li>Kit com 10</li>
                        <li>Tinta Azul</li>
                        <li>Material: Kraft</li>
                    </ul>
                    <p class="fw-bold">R$20,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-978334803-kit-10-caneta-ecologica-roller-reciclavel-mod-005-_JM?matt_tool=40863305&matt_word=&matt_source=google&matt_campaign_id=12413749863&matt_ad_group_id=117898708693&matt_match_type=&matt_network=g&matt_device=c&matt_creative=500615083824&matt_keyword=&matt_ad_position=&matt_ad_type=pla&matt_merchant_id=309385659&matt_product_id=MLB978334803&matt_product_partition_id=864293977804&matt_target_id=pla-864293977804&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFZWkunbpIXOGMt0ixgkyt0cnAZe1Io2Ojmo99b6uItxhWnW5VjGOwRoCwyMQAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#caneta">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Estojo.jpg" class="card-img-top " alt="... " height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Estojo Fino</h5>
                    <ul class="card-text deco ">
                        <li>Tecido sustentável</li>
                        <li>Feito com garrafas pet</li>
                        <li>Cor: Cinza</li>
                    </ul>
                    <p class="fw-bold ">R$ 25,90</p>
                    <a href="https://www.ssbrasil.shop/estojo-fino-cinza-unissex-ecologico?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFRCfM9MbP6eCRtGxoAC7EV7bGhZiNY8gfRjyfEmn8YR1XX6TfJo6pRoCa5cQAvD_BwE" target="_blank"
                        class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#estojo">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/bloco de notas.jpg" class="card-img-top " alt="... " height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Bloco de notas</h5>
                    <ul class="card-text deco ">
                        <li>Formato cubo</li>
                        <li>Suporte para caneta</li>
                        <li>Blocos com 4 cores</li>
                    </ul>
                    <p class="fw-bold">R$ 36,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-1608089872-bloco-cubo-ecologico-com-porta-canetas-suporte-_JM?matt_tool=40863305&matt_word=&matt_source=google&matt_campaign_id=12413749863&matt_ad_group_id=117898708693&matt_match_type=&matt_network=g&matt_device=c&matt_creative=500615083824&matt_keyword=&matt_ad_position=&matt_ad_type=pla&matt_merchant_id=136918581&matt_product_id=MLB1608089872&matt_product_partition_id=864293977804&matt_target_id=pla-864293977804&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFclHirUHcEgtVVvn4C27LXf-7VHV7D4dVWb6AO6yvRPgY_kCmFZysRoCx_MQAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#bloco">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Caderno -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="caderno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caderneta Capa de Bambu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    O Caderno de Anotações com capa em bambu é perfeito para acompanhar você no seu dia a dia. Linda, prática e com design discreto é ideal para levar na bolsa ou deixar no escritório. Acompanha caneta de bambu. Tome nota do que for necessário, crie lembretes,
                    organize suas ideias, datas de eventos e compromissos importantes.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Medidas: 10,5 x 14,8 cm.
                    </li>
                    <li>
                        Gramatura: 80g.
                    </li>
                    <li>
                        Capa dura em bambu.
                    </li>
                    <li>
                        Folhas recicladas pautadas.
                    </li>
                    <li>
                        70 folhas.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Caderno -->

<!-- Modal Caneta -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="caneta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kit 10 Caneta Ecológica Roller Reciclável</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Caneta ecológica roller, de material kraft com tampa, possui clip plástico colorido, anel e parte inferior plástica colorida.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Medidas aproximadas para gravação (CxD): 10,5 cm x 0,7 cm
                    </li>
                    <li>
                        Tamanho total aproximado (CxD): 15,2 cm x 1,5 cm
                    </li>
                    <li>
                        Peso aproximado (g): 7
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Caneta -->

<!-- Modal Estojo -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="estojo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Estojo Cinza Fino Ecológico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Bom gosto, sofisticação e ainda com proposta sustentável, você só encontra na coleção BE ECO da Apparatos. O novo consumidor contemporâneo busca produtos que respeitem o meio ambiente fazendo a moda sustentável ganhar cada vez mais espaço. Com esse olhar
                    na sustentabilidade, a preocupação com o outro e com o planeta é que baseia a nossa Coleção BE ECO.
                </p>

                <p>
                    O conceito de sustentabilidade aplicado à moda propõe produção mais humanizada, com a utilização de tecidos produzidos com garrafa PET, retalhos e aparas de confecções descartadas e com processo fabril isento de corantes químicos e uso de água.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Dimensões aproximadas: 3,5 A X 19 L X 4 P cm.
                    </li>
                    <li>
                        Material: Confeccionado em tecido sustentável.
                    </li>
                    <li>
                        Fechamento em Zíper.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Estojo -->

<!-- Modal Bloco -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="bloco" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bloco Cubo Ecológico Com Porta Canetas Suporte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bloco de anotações auto colantes formato cubo, abre e fecha em diagonal. Possui 5 blocos auto-colantes com aproximadamente 26 folhas cada, bloco amarelo com aproximadamente 25 folhas e conjunto de blocos com 4 cores e aproximadamente 100
                    folhas cada. Possui suporte para caneta, clips e afins no compartimento atrás bloquinhos coloridos.
                </p>

                <ul>
                    <p class="fw-bold">
                        Tamanho total aproximado:
                    </p>
                    <li>
                        Fechado 9 cm x 9 cm.
                    </li>
                    <li>
                        Aberto 18 cm x 9 cm.
                    </li>
                    <li>
                        Peso aproximado (g): 249.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Bloco -->
<hr>