<div class="container-fluid">

    <div class="row color-back text-white d-flex justify-content-center">
        <div class="col-md-12">

            <a routerLink="/Inicio-empresa" class="text-white text-left">
                <i class="fas fa-angle-double-right"></i> Home
            </a>

            <h1 class="fs-54 text-center">Materiais</h1>
            <h5 class="fs-18 text-center">Veja aqui todos segmentos cadastrados ou Cadastre um novo:</h5>


            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" name="Segmento" id="Segmento" (change)='seguimento($event)'>
                           <option value="AlimentosEBebidas">AlimentosEBebidas</option>
                           <option value="AutomoveisEVeiculos">AutomoveisEVeiculos</option>
                           <option value="BebesECia">BebesECia</option>
                           <option value="Brinquedos">Brinquedos</option>
                           <option value="CasaEDecoracao">CasaEDecoracao</option>
                           <option value="ConstrucaoEFerramentas">ConstrucaoEFerramentas</option>
                           <option value="CosmeticosEPerfumaria">CosmeticosEPerfumaria</option>
                           <option value="Descartaveis">Descartaveis</option>
                           <option value="Eletrodomesticos">Eletrodomesticos</option>
                           <option value="Fitness">Fitness</option>
                           <option value="Informatica">Informatica</option>
                           <option value="ModaEAcessorios">ModaEAcessorios</option>
                           <option value="PapelariaEEscritorio">PapelariaEEscritorio</option>
                           <option value="PetShop">PetShop</option>
                           <option value="SexShop">SexShop</option>
                       </select>
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='categoria.materialReutilizado' type="text" class="form-control mb-3 mt-3" value="materialReutilizado" placeholder=" % do tipo de material Reutilizado">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='categoria.materialBiodegradavel' type="text" class="form-control" value="materialBiodegradavel" placeholder="% do tipo de material Biodegradavel">
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-light mat" (click)='cadastrar()'>Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-12">
            <h2 class="text-center">Todos os Segmentos</h2>
        </div>
    </div>

    
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Segmento</th>
                        <th scope="col">Mt.Reutilizado</th>
                        <th scope="col">Mt.Biodegradavel</th>
                        <th scope="col" class="text-right">Modificações</th>

                    </tr>


                </thead>
                <tbody>

                    <tr *ngFor='let cat of listaCategorias'>
                        <th scope="row">{{cat.id}}</th>
                        <td>{{cat.segmentoEmpresa}}</td>
                        <td>{{cat.materialReutilizado}}</td>
                        <td>{{cat.materialBiodegradavel}}</td>
                        <td class="d-flex justify-content-end up">

                            <button class="btn btn-info mb-4  fw-bold" [routerLink]="['/Editar', cat.id]">Editar</button>
                            <button class="btn btn-danger mb-4 mm menu2 fw-bold" [routerLink]="['/Deletar', cat.id]">Apagar</button>
                    </tr>
                </tbody>
                <!--btn btn-info mr-3 m-lg-3 tm menu fw-bold-->
                                <!--btn btn-danger m-3 m-lg-3 tm menu2 fw-bold-->

            </table>
        </div>
        <div class="col-md-4 foto">

            <img src="https://i.imgur.com/5UItfFb.png" alt="Mandando mensagem" width="400px" height="400px">
      
          </div>
        
    </div>
</div>


