<div class="container">

    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Cosméticos e Perfumaria</h1>
                <p class="lead text-center">Produtos para seu cuidado pessoal</p>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit Bob.png" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Kit B.O.B</h5>
                    <ul class="card-text deco">
                        <li>Shampoo Detox</li>
                        <li>Condicionador Modelador</li>
                        <li>Embalagem de papel</li>
                    </ul>
                    <p class="fw-bold ">R$ 75,00</p>
                    <a href="https://www.usebob.com.br/products/kit-shampoo-detox-condicionador-modelador?variant=32128046170227&currency=BRL&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFcceNbyhfPwvbdygFZACGIIJTu33GfQ8G270OY4oonPEkvjPJlS05BoC4WQQAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#kitBob">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Ecopads.webp" class="card-img-top" alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Eco Pads</h5>
                    <ul class="card-text deco ">
                        <li>Discos reutilizaveis</li>
                        <li>Kit com 4</li>
                        <li>Cor: Cru ou Preto</li>
                    </ul>
                    <p class="fw-bold ">R$ 29,90</p>
                    <a href="https://www.agorasou.eco.br/eco-pads" target="_blank" class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#ecopads">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Pasta de dente.jpg" class="card-img-top " alt="... " height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Pasta de Dente</h5>
                    <ul class="card-text deco ">
                        <li>Menta e Melaleuca</li>
                        <li>100% Natural</li>
                        <li>Plástico reciclado</li>
                    </ul>
                    <p class="fw-bold ">R$ 22,99</p>
                    <a href="https://www.pazemgaia.com.br/pasta-de-dente-menta-e-melaleuca-90g.html?google-ads&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFWcqlpS-NzzNGzoCEohLZmuRY5RbyFu0nb03u7Qa_SIu8FAQfViQzhoCKeEQAvD_BwE" target="_blank" class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#pastaDente">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Sabonete.webp" class="card-img-top " alt="..." height="300px">
                <div class=" card-body ">
                    <h5 class="card-title ">Sabonete Corporal</h5>
                    <ul class="card-text deco ">
                        <li>Camomila e Laranja Doce</li>
                        <li>Ingredientes naturais</li>
                        <li>Embalagem biodegradável</li>
                    </ul>
                    <p class="fw-bold ">R$ 21,90</p>
                    <a href="https://www.agorasou.eco.br/sabonete-bioativo-camomila-e-laranja-doce" target="_blank" class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#sabonete">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Kit B.O.B -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="kitBob" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kit Shampoo Detox + Condicionador Modelador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Kit desintoxicante e antipoluição que renova a saúde do couro cabeludo, define e hidrata os cachos. O Shampoo Detox remove as toxinas, desobstruindo os folículos capilares e combatendo a descamação excessiva da região, e o Condicionador Modelador oferece
                    hidratação e definição aos fios, que ficam macios, modelados e sem frizz.
                </p>

                <ul>
                    <p class="fw-bold">
                        Ingredientes Shampoo:
                    </p>
                    <li>
                        Carvão Ativado.
                    </li>
                    <li>
                        Argila Preta.
                    </li>
                    <li>
                        Óleo enssencial de Eucalipto.
                    </li>
                </ul>

                <ul>
                    <p class="fw-bold">
                        Ingredientes Condicionador:
                    </p>
                    <li>
                        Queratina Vegetal.
                    </li>
                    <li>
                        Manteiga de Manga.
                    </li>
                    <li>
                        Óleo de Pracaxi.
                    </li>
                    <li>
                        Óleos Essenciais de Cedro e May Chang.
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Kit B.O.B -->

<!-- Modal Ecopad -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="ecopads" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Discos de Algodão Reutilizáveis para Limpeza Facial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> <b>Eco pads:</b> os seus discos de algodão reutilizáveis e sustentáveis para limpeza facial! Uma maneira, entre tantas outras, de implementar hábitos mais conscientes no seu dia a dia.
                </p>
                <p>
                    Discos de algodão reutilizáveis, indicados para a remoção da maquiagem e limpeza do rosto. Produzidos com tecido felpudo 100% algodão, disponíveis na cor cru e preto;
                </p>
                <p>
                    Reutilizável por no mínimo 365 vezes quando utilizado com cosméticos de fácil remoção e higienizado de forma correta.
                </p>
                <p>
                    Ao final da vida útil dos eco pads ecológicos, podem ser compostados.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>

                    <li>
                        01 kit com 4 Eco Pads.
                    </li>
                    <li>
                        tamanho médio de 8cm.
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Ecopads -->

<!-- Modal Pasta de Dente -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="pastaDente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pasta de dente Menta e Melaleuca 90g - Positiva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    O uso das raspas de juá no creme dental previne a placa bacteriana (propriedades bactericidas), mantém a boca higienizada e limpa por mais tempo, auxilia na halitose, previne inflamações bucais como a gengivite (ação anti-inflamatória), não abrasivo,
                    fortalece e protege as gengivas, tem ação clareadora/branqueadora e cicatrizante. Óleo Essencial de Melaleuca é um poderoso antisséptico, combate bactérias, vírus e fungos. Atua na prevenção de cáries, gengivite, aftas e herpes labial.
                    O Óleo essencial de Menta é altamente refrescante, anti-inflamatória, antisséptica e antiviral.

                </p>

                <p>
                    Limpa os dentes de forma eficaz; Deixa o hálito fresco; Preserva a integridade do esmalte; Previne cáries, gengivites e halitose; 100% natural (base vegetal); Vegana.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Com raspas de Juá e óleos essenciais orgânicos de Menta e Melaleuca.
                    </li>
                    <li>
                        Livre de Flúor, aromatizantes e corantes artificiais, parabenos e triclosan.
                    </li>
                    <li>
                        Primeira embalagem de pasta de dente do Brasil com plástico reciclado pós consumo.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Pasta de Dente -->

<!-- Modal Sabonete -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="sabonete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sabonete Bioativo | Camomila e Laranja Doce</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>A Camomila é rica em flavonoides e cumarina, com ação estimulante da cicatrização, anti-espasmódica e calmante. Promove a proteção da pele contra a poluição ambiental e solar.</p>
                <p>Produzido com ingredientes 100% naturais, não contém sulfato, parabeno e petrolatos. Registrado e aprovado pela Anvisa;</p>


                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Peso líquido 100 gramas.
                    </li>
                    <li>
                        Fragrância camomila e laranja doce.
                    </li>
                    <li>
                        Embalagem zero plástico e biodegradável.
                    </li>
                    <li>
                        Vegano e artesanal.
                    </li>
                    <li>
                        Matéria prima orgânica proveniente da agricultura familiar.
                    </li>


                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Sabonete -->
<hr>