<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Cosméticos e Perfumaria</h1>
                <p class="lead text-center">Produtos para seu cuidado pessoal</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Kit Bob.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kit B.O.B</h5>
                    <ul class="card-text deco">
                        <li>Shampoo Detox</li>
                        <li>Condicionador Modelador</li>
                        <li class='st'>Em barra, embalagem de papel</li>
                    </ul>
                    <p class="fw-bold ">R$ 63,75</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Ecopads.webp" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title ">Ecopads</h5>
                    <ul class="card-text deco ">
                        <li>Discos de Algodão reutilizaveis</li>
                        <li>Kit com 8 Discos</li>
                        <li class='st'>Cor: 4 Brancos e 4 Pretos</li>
                    </ul>
                    <p class="fw-bold ">R$ 60,00</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm ">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Pasta de dente.jpg" class="card-img-top " alt="... " height="285px">
                <div class="card-body ">
                    <h5 class="card-title ">Pasta de Dente</h5>
                    <ul class="card-text deco ">
                        <li>Menta e Melaleuca</li>
                        <li>100% Natural</li>
                        <li>Plástico reciclado</li>
                    </ul>
                    <p class="fw-bold ">R$ 17,99</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Sabonete.webp" class="card-img-top " alt="..." height="284px">
                <div class=" card-body ">
                    <h5 class="card-title ">Sabonete Corporal</h5>
                    <ul class="card-text deco ">
                        <li>Camomila e Laranja Doce</li>
                        <li>Ingredientes 100% naturais</li>
                        <li>Embalagem biodegradável</li>
                    </ul>
                    <p class="fw-bold ">R$ 21,90</p>
                    <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                    <a href=" " class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>