<div class="container">

    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Moda e Acessórios</h1>
                <p class="lead text-center">Itens para destacar o seu visual</p>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/CamisetaMasc.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <ul class="card-text deco">
                        <li>Malha 100% algodão </li>
                        <li>30-1 sustentável</li>
                        <li>Cores diversas</li>
                    </ul>
                    <p class="fw-bold ">R$ 59,00</p>
                    <a href="https://www.oriba.com.br/products/camiseta-henley-preta" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detalhesCamiseta1">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Jaqueta.png" class="card-img-top" alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Jaqueta Puffer</h5>
                    <ul class="card-text deco ">
                        <li>Feita com garrafas pet</li>
                        <li>100% reciclado</li>
                        <li>Cores diversas</li>
                    </ul>
                    <p class="fw-bold ">R$ 640,00</p>
                    <a href="https://www.oriba.com.br/collections/repet/products/jaqueta-puffer-repet-preta" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm " data-bs-toggle="modal" data-bs-target="#detalhesJaqueta">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Camiseta Preta.webp" class="card-img-top " alt="..." height="300px">
                <div class=" card-body ">
                    <h5 class="card-title ">Camiseta Consciência</h5>
                    <ul class="card-text deco ">
                        <li>Algodão Orgânico</li>
                        <li>Não possui etiqueta</li>
                        <li>Cores diversas</li>
                    </ul>
                    <p class="fw-bold ">R$ 59,90</p>
                    <a href="https://www.agorasou.eco.br/camiseta-consciencia/preto" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm " data-bs-toggle="modal" data-bs-target="#detalhesCamiseta2">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Leggin Biodegradável.webp" class="card-img-top " alt="... " height="300px ">
                <div class=" card-body ">
                    <h5 class="card-title ">Leggin Biodegradável</h5>
                    <ul class="card-text deco ">
                        <li>Cintura Alta</li>
                        <li>Costuras reforçadas</li>
                        <li>Modelagem anatômica</li>
                    </ul>
                    <p class="fw-bold ">R$ 189,00</p>
                    <a href="https://www.useimpacto.com.br/product-page/legging-de-poliamida-biodegrad%C3%A1vel" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm " data-bs-toggle="modal" data-bs-target="#detalhesLegging">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Camiseta1 -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesCamiseta1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Camisteta Henley Preta Oriba</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>A Camiseta henley preta é o melhor da união entre o conforto da camiseta essencial e o toque de formalidade que os botões acrescentam.</p>
                <p>Além de poder ser usada sozinha tanto com calça quanto com bermuda, sua versatilidade permite uma boa combinação até por baixo de um blazer.</p>
                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Malha100% algodão 30-1 sustentável certificado BCI, leve e resistente.
                    </li>
                    <li>
                        Modelagem em 9 tamanhos diferente.
                    </li>
                    <li>
                        Necktape de ombro a ombro para mais estrutura.
                    </li>
                    <li>
                        Pré encolhida, sem surpresas.
                    </li>
                    <li>
                        A camiseta henley é também conhecida como Gola Portuguesa.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Camiseta1 -->

<!-- Modal Jaqueta -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesJaqueta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Jaqueta Puffer rePet Preta Oriba</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>O que foi descartado se tornou aconchego. A Jaqueta Puffer rePET chegou para te acompanhar em dias mais frios com muita eficiência e estilo.</p>
                <p>Feita inteiramente com rePET, essa Jaqueta te mantém aquecido em temperaturas de até 5ºC. É a peça ideal para levar sempre com você por ser leve e altamente compacta, inclusive acompanha uma embalagem para facilitar o transporte.</p>
                <p>A linha rePET une sustentabilidade e tecnologia para dar nova vida ao plástico já descartado e ainda proporcionar os melhores básicos para você.</p>
                <p>Peças cheias de estilo e conforto extremo que estão prontas para te acompanhar por muito tempo.</p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Uma Jaqueta Puffer rePET como essa foi produzida com 26 garrafas plásticas.
                    </li>
                    <li>
                        Altamente compactável e leve: possui embalagem própria para facilitar o transporte.
                        <li>
                            100% rePET (poliéster reciclado), inclusive o forro, cadarço do zíper e enchimento.
                        </li>
                        <li>
                            Resiste à garoa leve, mas após molhada recomendamos que a peça seja pendurada em local arejado para secar.
                        </li>
                        <li>
                            Peça feita para durar até mesmo se sofrer um corte ou rasgo. Mesmo se o tecido rasgar, sua trama é pensada para não desfiar.
                        </li>
                        <li>
                            Certificado GRS, WRAP e BSCI, que garantem a excelência dos itens produzidos a partir de reciclagem e também a consciência referente à condições de trabalho.
                        </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Jaqueta -->

<!-- Modal Camiseta2 -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesCamiseta2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Camiseta Consciência - 100% Algodão Orgânico Agora sou Eco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Tecido 100% algodão orgânico e Malha 30/1 Penteado.</p>
                <ul>
                    <p class="fw-bold">
                        Benefícios para você e para o planeta com camisetas com algodão orgânico:
                    </p>
                    <li>
                        Algodão cultivado sem o uso de agrotóxicos;
                    </li>
                    <li>
                        Algodão certificado GOTS reconhecido internacionalmente. O GOTS garante o status orgânico de tecidos da colheita das matérias-primas por meio de uma fabricação ambiental e socialmente responsável;
                    </li>
                    <li>
                        Tingimento N Colors, feito através de corantes naturais e auxiliares extraídos da natureza (exceto cores preto e mostarda);
                    </li>
                    <li>
                        Usado apenas amaciantes provenientes de óleos de sementes de uva, maracujá, algodão, cascas de laranja e arroz;
                    </li>
                    <li>
                        Menor consumo de água no processo produtivo;
                    </li>
                    <li>
                        Utilizado somente linhas de algodão nas costuras;
                    </li>
                    <li>
                        Costura ombro a ombro com acabamento em viés;
                    </li>
                    <li>
                        Fabricação própria, garantindo uma produção responsável e consciente.
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Camiseta2 -->

<!-- Modal Legging -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesLegging" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Legging de poliamida biodegradável Impacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Toque macio e sensação única de conforto.</p>
                <p>Tecido que não fica transparente nos agachamento.</p>
                <p>Proteção UV 50+ que protege sua pele contra radiação ultravioleta (conforme norma ARPANSA AS/NZS4399).</p>
                <p>Tecnologia anti odor permanente, que inibe a proliferação de bactérias causadoras do mau cheiro. Essa inteligência está aplicada diretamente no fio e, por isso, não sai nas lavagens.</p>
                <p>Água de reuso utilizada na produção do tecido.</p>
                <p>A rápida biodegradabilidade da poliamida (3 anos em aterro sanitário) é uma grande vantagem quando comparada à peças de poliéster que demoram cerca de 400 anos para se decompor em aterros sanitários.</p>

                <ul>
                    <p class="fw-bold">
                        Composição:
                    </p>
                    <li>
                        88% Poliamida Biodegradável
                    </li>
                    <li>
                        12% Elastano
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Legging -->
<hr>