<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Moda e Acessórios</h1>
                <p class="lead text-center">Itens para destacar o seu visual</p>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="../../assets/img/Produtos/CamisetaMasc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Camiseta</h5>
                        <ul class="card-text deco">
                            <li>Malha 100% algodão </li>
                            <li>30-1 sustentável</li>
                            <li class='st'>Cor: Preto</li>
                        </ul>
                        <p class="fw-bold ">R$ 59,00</p>
                        <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                        <a href="" class="btn btn-outline-primary btn-sm">Mais Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="../../assets/img/Produtos/Jaqueta.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title ">Jaqueta Puffer</h5>
                        <ul class="card-text deco ">
                            <li>Produzida com garrafas plásticas</li>
                            <li>Material 100% reciclado</li>
                            <li class='st'>Cor: Preto</li>
                        </ul>
                        <p class="fw-bold ">R$ 640,00</p>
                        <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                        <a href=" " class="btn btn-outline-primary btn-sm ">Mais Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card h-100 ">
                    <img src="../../assets/img/Produtos/colar corda.jpg" class="card-img-top " alt="... " height="300px">
                    <div class="card-body ">
                        <h5 class="card-title ">Colar de Corda</h5>
                        <ul class="card-text deco ">
                            <li>Corda de Algodão Tingida</li>
                            <li>Pingente de Cetim</li>
                            <li>Não possui Fecho</li>
                        </ul>
                        <p class="fw-bold ">R$ 45,00</p>
                        <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                        <a href=" " class="btn btn-outline-primary btn-sm ">Mais Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card h-100 ">
                    <img src="../../assets/img/Produtos/Brinco de corda.jpg" class="card-img-top " alt="..." height="300px">
                    <div class=" card-body ">
                        <h5 class="card-title ">Brinco de Corda</h5>
                        <ul class="card-text deco ">
                            <li>Corda de algodão tingida</li>
                            <li>Pingente de Cetim</li>
                            <li>Metais: Aço Inox</li>
                        </ul>
                        <p class="fw-bold ">R$ 35,00</p>
                        <a href=" " class="btn btn-outline-success btn-sm ">Comprar</a>
                        <a href=" " class="btn btn-outline-primary btn-sm ">Mais Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>