<div class="container">

    <!-- /Caixa-->
    <div class="row d-flex justify-content-center mt-5">

        <!-- Somos todos Mawé -->
        <div class="col-md-9 ">
            <div class="row">

                <!-- Mascote Axel -->
                <div class="col-md-5">
                    <img class="axeltamanho" src="https://i.imgur.com/AwmnCH2.png" title="source: imgur.com"
                        alt="Mascote Axel" />
                </div>
                <!-- /Mascote Axel -->

                <!-- Texto Somos todos Mawé -->
                <div class="col-md-7">
                    <h2 class="txt">Somos todos Mawé</h2>
                    <p class="txt mt-3 espa-line">

                    <p class="txt espa-line">Criar vínculos para demonstrar que há <b>outras maneiras de
                            criar e consumir</b> materiais.</p>
                    <p class="txt espa-line ">O objetivo é diminuir o impacto ambiental, reagir ao descarte de materiais que se acumulam na natureza, incentivar empresas a criar soluções ecológicas e apresenta-las ao mundo.</p>

                    <h5 class="txt">De onde veio o Axel?</h5>
                    <p class="txt espa-line mb-70 mt-2">Um animal inteligente e curioso, é como nós, não vai parar até
                        seu sonho ser concretizado! </p>


                </div>
                <!-- /Texto Somos todos Mawé -->

            </div>
        </div>
        <!-- /Somos todos Mawé -->

        <hr>

        <!-- Missão Visão e Valores -->
        <div class="row mt-5">
            <!-- Item Missão -->
            <div class="col-md-4">
                <div class="item-titulo">
                    <h5>Missão<img src="https://i.imgur.com/Z53671D.png" title="source: imgur.com" width="45px" /></h5>
                </div>

                <div class="d-flex align-items-center mt-1">
                    <p class="m-l-20 espa-line">
                        Facilitar a busca por produtos sustentáveis, e o acesso financeiro, através do valor final
                        aplicado
                    </p>
                </div>
            </div>
            <!-- /Item Missão -->

            <!-- Item Visão -->
            <div class="col-md-4">
                <div class="item-titulo">
                    <h5>Visão<img class="m-l" src="https://i.imgur.com/uasm6U4.png" title="source: imgur.com"
                            width="40px" alt="Visão" /></h5>
                </div>

                <div class="d-flex align-items-center mt-2">
                    <p class="espa-line">Aquecer o mercado e gerar impulso em forma de competitividade equalizando a
                        diferença de valor dos produtos sustentáveis. </p>
                </div>
            </div>
            <!-- /Item Visão -->

            <!-- Item Valores -->
            <div class="col-md-4">

                <!-- Título Valores-->
                <div class="item-titulo">
                    <h5>Valores</h5><img class="m-l" src="https://i.imgur.com/ER8ApJP.png" title="source: imgur.com"
                        width="40px" />
                </div>
                <!-- /Título Valores-->

                <!-- Texto Valores-->
                <div class="d-flex align-items-center mt-3">
                    <ul class="item-none">
                        <li class="pd espa-line"><b>Sustentabilidade</b> - Se adaptar, sem destruir</li>
                        <li class="pd espa-line font-20"><b>Entusiastas por fuçar</b> - Prazer em buscar conhecimento
                        </li>
                        <li class="pd espa-line mb-20"><b>Confiança para jogar junto</b> - União criada com empatia e
                            diversidade</li>
                    </ul>
                </div>
                <!-- /Texto Valores-->

            </div>
            <!-- /Item Valores -->

        </div>
        <!-- /Missão Visão e Valores -->

    </div>
    <!-- /Caixa-->

    <div class="row mt-3 mb-70">
        <!-- Espaçamento card -->
        <div class="col-sm-2"></div>
        <!-- /Espaçamento card -->

        <!-- Item Parcerias Card -->
        <div class="col-sm-4">
            <div class="card card-empresa m-r-30">
                <div class="card-body">

                    <h5 class="card-title item-titulo">Parcerias</h5>

                    <p class="item-titulo mt-4 mb-1"><img src="https://i.imgur.com/Uktb61q.png"
                            title="source: imgur.com" width="90px" /></p>

                    <p class="card-text espa-line mt-3">Impulsionamos os parceiros e empresas, que praticam a produção
                        de seus produtos de forma ecologicamente correta, que dão preferência a materiais
                        <b>biodegradáveis</b> e <b>reutilizados</b>
                    </p>

                    <span class="item-titulo"><a routerLink="/home/" class="btn botao-verde">Ver parceiros</a></span>

                </div>
            </div>
        </div>
        <!-- /Item Parcerias Card -->

        <!-- Plano ONU -->
        <div class="col-sm-4">
            <div class="card card-empresa m-l-30">
                <div class="card-body">
                    <h5 class="card-title item-titulo">Plano ODS ONU</h5>

                    <p class="item-titulo mt-4"><img src="https://i.imgur.com/gxADQw1.png"
                            alt="icone pessoa abraçando o mundo" width="90px"></p>

                    <p class="card-text espa-line mt-3"> Abraçamos o Objetivo 12 da ODS, incentivar empresas e
                        consumidores a mudarem, reduzir substancialmente a geração de resíduos por meio da prevenção,
                        redução, reciclagem e reuso </p>
                    <span class="item-titulo mt-3"><a href="http://www.agenda2030.org.br/ods/12/"
                        target="_blank" class="btn botao-verde">Conheça +</a></span>

                </div>
            </div>
        </div>
        <!-- /Plano ONU -->

    </div>
</div>

<div class="mt-5 mb-20"></div>

<!-- Campo de membros da Equipe -->

<div class="bg-equipe">
    <div class="row">
        <div class="col-md-12 mb-20">
            <div class="texto mt-45">
                <h2 class="item-center">Nossa equipe</h2>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- Espaçamento -->
        <div class="col-md-2">
            <p class="bg-image-axel"></p>
            <img src="https://i.imgur.com/woudS1M.png" alt="">
        </div>
        <!-- / Espaçamento -->

        <!-- Pessoa 1 -->
        <div class="col-md-3">
            <div class="container-equipe">
                <div class="img-container">
                    <img src="../../assets/img/Day.jpg" alt="Imagem do integrante ">
                </div>
                <ul class="social-media">

                    <li><a href="https://www.linkedin.com/in/daisy-barbosa/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Day-Namite"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:daisybarbosa.p@gmail.com"><i class="fa fa-envelope"></i></a></li>

                </ul>
                <div class="user-info">
                    <h4>Daisy Barbosa</h4>
                    <p class="information mt-3 text-justify"></p>
                </div>
            </div>
        </div>
        <!-- / Pessoa 1 -->

        <!-- Pessoa 2 -->
        <div class="col-md-3">
            <div class="container-equipe">
                <div class="img-container">
                    <img src="../../assets/img/Amanguinha.jpg" alt="Imagem do integrante ">
                </div>
                <ul class="social-media">

                    <li><a href="https://www.linkedin.com/in/perfil-amandabrito/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/AmandaBritoPereira"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:amandabritopereira@outlook.com"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCWvebuyTjk-as3xpO7fankQ/featured"><i
                                class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="user-info">
                    <h4>Amanda Brito</h4>
                    <p class="information mt-3 text-justify"></p>
                </div>
            </div>
        </div>
        <!-- / Pessoa 2 -->

        <!-- Pessoa 3 -->
        <div class="col-md-3">
            <div class="container-equipe">
                <div class="img-container">
                    <img src="../../assets/img/Tai.jpg" alt="Imagem do integrante ">
                </div>
                <ul class="social-media">

                    <li><a href="https://www.linkedin.com/in/tainá-pimenta/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/TainaPimenta"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:tainapimenta@outlook.com.br"><i class="fa fa-envelope"></i></a></li>

                </ul>
                <div class="user-info">
                    <h4>Taina Pimenta</h4>
                    <p class="information mt-3 text-justify"></p>
                </div>
            </div>
        </div>
        <!-- / Pessoa 3 -->

        <!-- Espaçamento -->
        <div class="col-md-2"></div>
        <!-- / Espaçamento -->

    </div>

    <div class="row mt-5 mb-70 ">

        <!-- Espaçamento -->
        <div class="col-md-2"></div>
        <!-- / Espaçamento -->

        <!-- Pessoa 5 -->
        <div class="col-md-3">
            <div class="container-equipe">
                <div class="img-container">
                    <img src="../../assets/img/Gui.jpg" alt="Imagem do integrante ">
                </div>
                <ul class="social-media">

                    <li><a href="https://www.linkedin.com/in/guilhermedev/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/GuilhermeRodriguesSantos"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:guilhermedevrodrigues@gmail.com"><i class="fa fa-envelope"></i></a></li>

                </ul>
                <div class="user-info">
                    <h5>Guilherme Rodrigues</h5>
                    <p class="information mt-3 text-justify"></p>
                </div>
            </div>
        </div>
        <!-- / Pessoa 5 -->

        <!-- Pessoa 4 -->
        <div class="col-md-3">
            <div class="container-equipe">
                <div class="img-container">
                    <img src="https://i.imgur.com/CFBMXMa.jpg" alt="Imagem do integrante ">
                </div>
                <ul class="social-media">

                    <li><a href="https://www.linkedin.com/in/viniciuslavado8/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Viniciuslavado"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:viniciuslavsilva@hotmail.com"><i class="fa fa-envelope"></i></a></li>

                </ul>
                <div class="user-info">
                    <h4>Vinicius Lavado</h4>
                    <p class="information mt-3 text-justify"></p>
                </div>
            </div>
        </div>
        <!-- / Pessoa 4 -->

        <!-- Pessoa 6 -->
        <div class="col-md-3">
            <div class="container-equipe">
                <div class="img-container">
                    <img src="../../assets/img/Gus.jpg" alt="Imagem do integrante ">
                </div>
                <ul class="social-media">

                    <li><a href="https://www.linkedin.com/in/perfil-gustavomm/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/gustavomm07"><i class="fa fa-github"></i></a></li>

                </ul>
                <div class="user-info">
                    <h4>Gustavo Morais</h4>
                    <p class="information mt-3 text-justify"></p>
                </div>

            </div>
        </div>
        <!-- / Pessoa 6 -->

        <!-- Espaçamento -->
        <div class="col-md-1">
        </div>
        <!-- / Espaçamento -->

        <!-- Espaçamento -->
        <div class="row">
            <p class="mt-5"></p>
        </div>
        <!-- / Espaçamento -->

    </div>
</div>
<!-- / Final Membros da equipe -->

<!-- Espaçamento -->
<div class="row">
</div>
<!-- / Espaçamento -->