<div class="container">
    <div class="row d-flex justify-content-end">
        <div class="col-md-9 mt-5">
            <div>
                <h1>Sobre nós:</h1>
                <p class="txt">A maneira que os meios de produção e consumo operam hoje, nos dão a impressão de ser algo natural, não conseguir reagir ao descarte de materiais que se acumulam na atmosfera, matando o planeta e o que habita nele (o problema). A ideia
                    do e-commerce, é ir contra o que nos negam, juntar empresas, incentivar soluções, classificar os produtos que tem o maior índice sustentável, elevar empresas ecologicamente corretas e incentivar a colaboração (O serviço), dessa forma,
                    nós conseguimos comprar algo que queremos, e ao mesmo tempo escolher sim o futuro do mundo (a ideia que queremos oferecer).</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur magnam quibusdam possimus corporis consectetur consequatur ipsum officiis incidunt nam voluptatem placeat quis quos enim id, nisi fugit molestiae ut.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque obcaecati veniam doloribus est voluptas consequatur accusamus praesentium dicta. Atque inventore tenetur rerum eius aspernatur tempore? Dolores illo ea eos quis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur magnam quibusdam possimus corporis consectetur consequatur ipsum officiis incidunt nam voluptatem placeat quis quos enim id, nisi fugit molestiae ut.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque obcaecati veniam doloribus est voluptas consequatur accusamus praesentium dicta. Atque inventore tenetur rerum eius aspernatur tempore? Dolores illo ea eos quis.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div><img src="../../assets/img/mulher nadando.png" alt=" " class="img-border "></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <div class="texto mt-5">
                <h1>Nosso Time:</h1>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="../../assets/img/Vini.jpg" alt="" height="300px" width="300px" class="br-img">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Day.jpg" alt="" height="300px" width="300px" class="br-img">
        </div>
        <div class="col-md-4 mb-5">
            <img src="../../assets/img/Gui.jpg" alt="" height="300px" width="300px" class="br-img">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/img/Amanguinha.jpg" alt="" height="300px" width="300px" class="br-img">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Gus.jpg" alt="" height="300px" width="300px" class="br-img">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/Tai.jpg" alt="" height="300px" width="300px" class="br-img">
        </div>
    </div>
</div>