<div class="container">
    <div class="row d-flex justify-content-end mt-5">
        <div class="col-md-9 ">
            <div>
                <h1 class="txt">Sobre nós:</h1>
                
                <p class="txt mt-4">
                    Criamos conexões para demonstrar que há outras maneiras de criar e consumir, sem gerar grandes impactos a natureza.</p>

                <h5>Objetivos:</h5>
                 <p class="txt mt-3">Estimular o reuso de materia prima descartada. Incentivar por materiais biodegradáveis.
                    Equalizar a diferença de valor de produtos sustentáveis.</p>   
                    
                    <h5>Nosso Ideal:</h5>
                    <p class="txt mt-3">Como uma maneira de reagir ao descarte de materiais que se acumulam na atmosfera. A ideia do e-commerce, é incentivar empresas a criar soluções e o meio para apresentar aos usuários; classificamos os produtos </p>
                
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <div><img src="../../assets/img/mulher nadando.png" alt=" " class="img-border "></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <div class="texto mt-5">
                <h1>Nosso Time:</h1>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row mt-5 d-flex justify-content-center ml-5 espaçamento centraliza-tx"> 
     
        <div class="col-md-3">
            <img src="../../assets/img/Vini.jpg" alt="" height="200px" width="200px" class="br-img img">
            <a href="#"><i class="fab fa-github-alt"></i></a>
            <p class="fw-bold">Vinicius Lavado</p>
        </div>
        
        <div class="col-md-3">
            <img src="../../assets/img/Day.jpg" alt="" height="200px" width="200px" class="br-img img">
            
            <p class="fw-bold">Daisy Barbosa</p>
        </div>
        <div class="col-md-3 mb-3">
            <img src="../../assets/img/Gui.jpg" alt="" height="200px" width="200px" class="br-img img">
            <p class="fw-bold">Guilherme Rodrigues</p>
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center ml-5 espaçamento mb-5  centraliza-tx">
        <div class="col-md-3">
            <img src="../../assets/img/Amanguinha.jpg" alt="" height="200px" width="200px" class="br-img img">
            <p class="fw-bold">Amanda Brito</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/img/Gus.jpg" alt="" height="200px" width="200px" class="br-img img">
            <p class="fw-bold">Gustavo Moraes</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/img/Tai.jpg" alt="" height="200px" width="200px" class="br-img img">
            <p class="fw-bold">Taina Pimenta</p>
        </div>
    </div>
</div>
    <div class="container-flex">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/Ferramentas ultilizadadas/ANGULAR.png" width = "200px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="../../assets/img/Ferramentas ultilizadadas/java.jpg" width = "200px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                    <img src="../../assets/img/Ferramentas ultilizadadas/JAVASCRIPT.jpg"  class="card-img-top a" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/Ferramentas ultilizadadas/SPRINGBOOT.png" width = "200px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>