.img{
    background-image: url(../../assets/img/Folhagem2.png);
    background-repeat: no-repeat;
    background-size: 700px;
    width: 100vw;
    height: 100vh;;

}
.aa{
    width: 290px;
    margin-left: 200px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.alinhar{
    text-align: center;
    margin-top: 25%;
}

.a{
    width:  300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    outline: none;

}

ul{
    list-style: none;
}

.tm{
    width: 130px;
}

.mr{
    margin-right: 10px;
}

.margin1{
    margin-left: 30px;
}

.fundo2-div{
    background-color: #FBAB7E;  
    background-image: linear-gradient(62deg, #46fc4c 0%, #B9A4BF 100%);
    width: 400px;
    height: 500px;
    border-radius: 20px;
   
}

.menu:hover{
    background-color: rgb(73, 192, 62);
}

.menu2:hover{
    background-color: rgb(46, 174, 184);
}