.img{
    background-image: url(../../assets/img/Folhagem2.png);
    background-repeat: no-repeat;
    background-size: 700px;
    width: 100vw;
    height: 100vh;;

}


.texto-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.texto-h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.aa{
    width: 290px;
    margin-left: 200px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.alinhar{
    text-align: center;
    margin-top: 25%;
}

.labels{
    width:  300px;
    border-radius: 10px;
    padding: 4px;
    border: none;
   font-style: oblique;

}

.texto-o{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.texto-l{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

.tm{
    width: 200px;
    height: 40px;
}

.mr{
    margin-right: 10px;
}

.margin1{
    margin-left: 30px;
}


.fundo2-div{
    background-color: #FBAB7E;  
    background-image: linear-gradient(62deg, #46fc4c 0%, #B9A4BF 100%);
    width: 400px;
    height: 495px;
    border-radius: 20px;
   
}

.menu:hover{
    background-color: rgb(73, 192, 62);
}

.menu2:hover{
    background-color: rgb(46, 174, 184);
}

.menu{
    border-radius: 20px;
}

