<!-- Jumbotron -->
<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Casa e Decoração</h1>
                <p class="lead text-center">Produtos para ressaltar a beleza do ambiente</p>
            </div>

        </div>

    </div>
    <!--/Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Rede Algodão Cru 3.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Rede de Algodão Cru</h5>
                    <ul class="card-text deco">
                        <li>88% algodão</li>
                        <li>12% poliéster</li>
                        <li class='st'>Cor: Branco</li>
                    </ul>
                    <p class="fw-bold ">R$ 269,0</p>
                    <a href="https://www.voolivia.com.br/decoracao-mineira/rede-de-algodao/rede-big-brother-algodao-cru?parceiro=7690&gclid=CjwKCAjwpMOIBhBAEiwAy5M6YFj1OR6Y1lsHnHTY_Iso3llhwl_9g-KcHib9jLtEIVFkP6g-T3RkmBoCGJcQAvD_BwE" target="_blank" class="btn btn-outline-success btn-sm m-3">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detalhesRede">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Capsulas.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Cápsulas Reutilizáveis</h5>
                    <ul class="card-text deco ">
                        <li>Kit com 4 cápsulas de café</li>
                        <li class="st" >Acompanha Pincél e Medidor | Cor: marrom</li>
                        
                    </ul>
                    <p class="fw-bold ">R$ 34,90</p>
                    <a href="https://www.ilovecoffee.com.br/capsulas-recarregaveis/4-capsula-reutilizavel-dolce-gusto-recarregavel-cristal-marrom" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm " data-bs-toggle="modal" data-bs-target="#detalhesCapsulas">Mais Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/Nicho.jpg" class="card-img-top " alt="... " height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Nicho Caixote</h5>
                    <ul class="card-text deco ">
                        <li>Madeira Maciça</li>
                        <li>Inclui Armação</li>
                        <li>Acabamento em Verniz</li>
                    </ul>
                    <p class="fw-bold ">R$ 90,85</p>
                    <a href="https://www.magazineluiza.com.br/nicho-caixote-de-parede-madeira-rustica-macrusticos/p/ccfaf7fe70/de/ncpp/" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm " class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detalhesNicho">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 ">
                <img src="../../assets/img/Produtos/lvl.png" class="card-img-top " alt="... " height="300px">
                <div class="card-body ">
                    <h5 class="card-title ">Lava Louças 500ml</h5>
                    <ul class="card-text deco ">
                        <li>Hipoalergênico</li>
                        <li>Biodegradável</li>
                        <li>plástico reciclado</li>
                    </ul>
                    <p class="fw-bold ">R$ 12,99</p>
                    <a href="https://www.positiva.eco.br/lava-loucas-laranja-500ml?code=100074" class="btn btn-outline-success btn-sm m-3" target="_blank">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detalhesLava">Mais Detalhes</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/Cards Produtos -->

<!-- Modal Rede -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesRede" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rede Big Brother Vó Olivia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Você sabia que a rede é um invento dos indígenas da América do Sul, cujo nome de origem é denominada pelos indígenas do Brasil de ini? </p>
                <ul>
                    <p class="fw-bold">
                        Informações das medidas:
                    </p>
                    <li>
                        Medida do tecido: 2,25m x 1,20m
                    </li>
                    <li>
                        Medida de punho a punho: 3,70m
                    </li>
                    <li>
                        Capacidade de carga: 150kg
                    </li>
                    <li>
                        Distância ideal dos ganchos: 2,40m a 3,20m
                    </li>
                    <li>
                        Altura ideal dos ganchos: 1,90m
                    </li>
                    <li>
                        Composição: 88% algodão / 12% poliéster
                    </li>
                </ul>
                <p> Onde usar: Varandas grandes, área externas de casas de veraneio ou ambientes internos como jardins de inverno, salas e quartos.</p>
                <li class="deco">*Indica-se que a rede seja lavada à seco ou à mão com sabão neutro, sem uso de alvejante.</li>
                <li class="deco">*Por se tratar de um produto artesanal, podem haver pequenas variações no tamanho e no babado das redes.</li>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Rede -->

<!-- Modal Cápsulas -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesCapsulas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cápsulas de Café Reutilizáveis (Dolce Gusto)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Material: plástico de excelente qualidade, seguro para sua saúde.</p>
                <p> 50 utilizações por cápsula.</p>
                <p> Ecológico e econômico, menos resíduos menos dinheiro gasto.</p>
                <p> Adequado para os modelos Dolce Gusto vendidos no Brasil, exceto modelo Lumio. </p>

                <ul>
                    <p class="fw-bold">
                        Conteúdo do pacote:
                    </p>
                    <li>
                        4 Cápsulas Recarregáveis de Café Dolce Gusto Marrom
                    </li>
                    <li>
                        1 Copo medidor
                    </li>
                    <li>
                        1 Pincél de Limpeza
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Cápsulas -->

<!-- Modal Nicho -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesNicho" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nicho Caixote de Parede Madeira Rústica - MacRústicos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Este Nicho vai harmonizar seu ambiente trazendo requinte e muito mais vida para seu ambiente.</p>
                <p> O nicho já vai montado e acompanha parafusos e buchas para instalação.</p>
                <p> Pode ser instalado em três diferentes posições!</p>
                <p> Fabricado em madeira maciça, com acabamento em verniz marítimo de alta qualidade.</p>

                <ul>
                    <p class="fw-bold">
                        Dimensões:
                    </p>
                    <li>
                        Altura: 28 cm
                    </li>
                    <li>
                        Comprimento: 43 cm
                    </li>
                    <li>
                        Largura: 34 cm
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Nicho -->

<!-- Modal Lava Louças -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="detalhesLava" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lava Louças Positiva 500Ml</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Produto pronto uso para limpeza de louças;</p>
                <p> Hipoalergênico: suave para as mãos e seguro para itens de bebê;</p>
                <p> Biodegradável: feito à base de óleo de coco;</p>
                <p> Vegano: sem testes em animais; </p>
                <p>Faz espuma sem agredir a natureza; </p>
                <p> Não deixa resíduos químicos na louça;</p>
                <p> Frascos de plástico 100% reciclado coletado no litoral;</p>
                <p> Não agride a pele, unhas e mucosas Sem fragrância</p>

                <li class="fw-bold deco"> Composição:</li>

                <p>Água, óleo de coco, alcalinizante (hidróxido de potássio, responsável pela saponificação), espessante (origem vegetal), sequestrante (ácido etidrônico de origem orgânica com função de separar as impureza para facilitar o enxágue), conservante
                    (origem vegetal) e coadjuvante(carbonato de sódio, origem mineral).</p>

                <ul>
                    <p class="fw-bold">
                        Modo de Usar:
                    </p>
                    <li>
                        Aplique o produto na bucha vegetal úmida ou diretamente sobre louça;
                    </li>
                    <li>
                        Lave as louças (com a torneira fechada, hein? Vamos cuidar da nossa água!)
                    </li>
                    <li>
                        Enxágue normalmente.
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Lava Louças -->
<hr>