<div class="container-flex">
    <div class="row">
        <div class="col-md-12 ">
            <div class="cor-div">
                <ul class="d-flex ">
              
                      <li>
                        <a routerLink="/sobre-nos">Sobre Nós</a> 
                      </li>
                      <li>
                        <a routerLink="/home">Home</a> 
                      </li>
                      <li>
                        <a routerLink="/contato">Contato</a> 
                      </li>

                      <li>
                        <a href="">Login</a>  
                      </li>

                      <li>
                        <a href="">Cadastre-se</a>  
                      </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand tm" href="#">Mawé</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 d-flex justify-content-center tm-itens">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Casa</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Moda</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Arte</a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link" href="#">Infantil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pet</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Papelaria</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Saúde e Bem-Estar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cosméticos</a>
                      </li>
                    </ul>
        
                  </div>
                  <div>
                      <ul class="d-flex mb-1">
                          <li>
                            <i class="fas fa-search"></i>
                          </li>
                          <li>
                            <i class="fas fa-shopping-bag"></i>
                          </li>
                      </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
</div>

