<div class="container">
    <div class="row d-flex justify-content-end align-items-center mt-5">
        <div class="col-md-10 ">
            <div>
                <h1 class="txt">Doação: </h1>

                <p class="txt mt-4 justify-content-md-center fs-5 m-6 font">
                    Nesta página, caso você se sinta a vontade, </p>
                <p class="fs-5">
                    indicamos algumas ONGSs para que você possa fazer</p>
                <p class="fs-5">
                    uma ação do bem que é doar e se solidarizar.</p>
                <p class="fs-5">Vamos fazer parte dessa corrente do bem?</p>




            </div>
        </div>
        <div class="col-md-2 d-flex align-items-start justify-content-end">
            <div><img src="../../assets/img/Ongs1.png" alt=" " class="img-border " width="500px" height="500px"></div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-12 ">
            <div class="texto mt-5">
                <h1 class="text-center p-5">Indicações:</h1>
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-3">
                        <div class="card h-100">
                            <img src="../../assets/img/Doacao/Maior versão.png" width="300px" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title txt-center">Akatu</h5>
                                <ul class="card-text deco">

                                    <li>Descrição: </li>
                                    <li>Ong de consumo sustentável</li>

                                </ul>

                                <a href="https://akatu.org.br/" class="btn btn-outline-success" target="_blank">Saiba mais</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100">
                            <img src="../../assets/img/Doacao/wwf versão maior.png" width="300px" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title ">WWF</h5>
                                <ul class="card-text deco">
                                    <li>Descrição:</li>
                                    <li>
                                        <div class="align-item-start">
                                            Ong que atua na preservação ambiental
                                        </div>
                                    </li>

                                </ul>

                                <a href="https://www.wwf.org.br/" class="btn btn-outline-success" target="_blank">Saiba mais</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card h-100 ">
                            <img src="../../assets/img/Doacao/Greenpeace maior versão.png" width="300px" class="card-img-top " alt="...">
                            <div class=" card-body ">
                                <h5 class="card-title ">Greenpeace</h5>
                                <ul class="card-text deco ">
                                    <li>Descrição:</li>
                                    <li>Atua na preservação ambiental</li>

                                </ul>
                                <a href="https://www.greenpeace.org/brasil/quem-somos/" class="btn btn-outline-success" target="_blank">Saiba mais</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card h-100 ">
                            <img src="../../assets/img/Doacao/sos mata atlantica2.png" width="300px" class="card-img-top " alt="... " height="262px ">
                            <div class=" card-body ">
                                <h5 class="card-title ">SOS Mata Atlantica</h5>
                                <ul class="card-text deco ">
                                    <li>Descrição:</li>
                                    <li>Atua na preservação ambiental</li>

                                </ul>
                                <a href="https://www.sosma.org.br/" class="btn btn-outline-success" target="_blank">Saiba mais</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>