<div class="container">
    <!-- Jumbotron -->
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Pet Shop</h1>
                <p class="lead text-center">Itens para o seu Pet</p>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <!-- Cards Produtos -->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Caminha pet.png" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Caminha para Pets</h5>
                    <ul class="card-text deco">
                        <li>Material reutilizado</li>
                        <li>Impermeável e Lavável</li>
                        <li>Antimofo e antifungo</li>
                    </ul>
                    <p class="fw-bold">R$ 87,00</p>
                    <a href="https://www.ekological.com.br/pets/caminha-ecologica-caes-gatos" target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#caminha">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Casinha.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Casinha Hamster</h5>
                    <ul class="card-text deco">
                        <li>100% Reciclável</li>
                        <li>Semiacústica</li>
                        <li>Retém temperatura externa</li>
                    </ul>
                    <p class="fw-bold">R$ 15,90</p>
                    <a href="https://www.petlove.com.br/casinha-ecologica-recriar-pet-natural-para-hamster/p/destaque?sku=1913260&utm_source=google&utm_medium=organic_shopping&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFVfheDoHRfxfUAfbs9Du1miv27L4YJmvmFALvhAoxEd17IB4h9bINxoCba0QAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#casinha">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Areia pra Gato.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Areia Higiênica 4kg</h5>
                    <ul class="card-text deco">
                        <li>Feita de milho e mandioca</li>
                        <li>Descarte no vaso sanitário</li>
                        <li>Biodegradável</li>
                    </ul>
                    <p class="fw-bold ">R$ 37,49</p>
                    <a href="https://www.petlove.com.br/areia-higienica-petfive-viva-verde-vida-descomplicada-para-gatos/p/destaque?sku=2406972&utm_source=google&utm_medium=organic_shopping&gclid=CjwKCAjwmeiIBhA6EiwA-uaeFaEljoVLVp-KUfSKNb8O9W_S849llgogsSRcxbDjOEKbmCvIRrV8ghoCI_0QAvD_BwE"
                        target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#areia">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Tapete Ecológico.jpg" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h5 class="card-title">Tapete Higiênico</h5>
                    <ul class="card-text deco">
                        <li>Lavável</li>
                        <li>Ecológico</li>
                        <li>Reutilizável</li>
                    </ul>
                    <p class="fw-bold ">R$ 109,90</p>
                    <a href="https://www.petlove.com.br/tapete-higienico-lavavel-sao-benedito-pet-wash-news-jornal-para-caes/p?sku=2630850" target="_blank" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a class="btn btn-outline-primary btn-sm mm" data-bs-toggle="modal" data-bs-target="#tapete">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cards Produtos -->

<!-- Modal Caminha -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="caminha" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caminha ecológica para Pets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Esta é uma caminha ecológica, feita de material reciclado, durável e de fácil limpeza. Indicada para cães e também gatos. É atóxica, antimofo e antibactérias, mantendo o seu pet sempre seguro.</p>
                <p>O material é impermeável, reduz barulhos externos e retém até 40% da temperatura externa. Adquira este item e ganhe mais conforto e consumo consciente.</p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Altura: 28cm.
                    </li>
                    <li>
                        Largura: 62cm.
                    </li>
                    <li>
                        Comprimento: 47cm.
                    </li>
                    <li>
                        100% reciclável.
                    </li>
                    <li>
                        Impermeável e lavável.
                    </li>
                    <li>
                        Muito resistente e durável.
                    </li>
                    <li>
                        Não propaga chamas.
                    </li>
                    <li>
                        Antimofo, antifungo, antitóxica.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Caminha -->

<!-- Modal Casinha -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="casinha" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Casinha Ecológica Recriar Pet Para Hamster</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Elaborada à base de polietileno de Baixa Densidade (PEBD), misturas de fibras celulósicas vegetais e alumínio, a Casinha Ecológica Recriar Pet Natural para Hamster é durável e resistente. Impermeável, pode ser lavada. Possui semiacústica
                    que ajuda nos problemas com rojões e barulhos intensos.</p>
                <p>Com acabamento superficial em poliéster que pode ser retirado naturalmente sem modificar o produto. Segura e confortável é perfeita para os momentos de descanso do seu pet.</p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Altura: 9 cm.
                    </li>
                    <li>
                        Largura: 10 cm.
                    </li>
                    <li>
                        Comprimento: 13 cm.
                    </li>
                    <li>
                        Impermeável e lavável.
                    </li>
                    <li>
                        100% reciclável.
                    </li>
                    <li>
                        Semiacústica.
                    </li>
                    <li>
                        Muito resistente e durável.
                    </li>
                    <li>
                        Antimofo, antifungo, antitóxica
                    </li>
                    <li>
                        Não propagam chamas (fogo).
                    </li>
                    <li>
                        Retém até 40% da temperatura externa.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Casinha -->

<!-- Modal Areia -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="areia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Areia Higiênica Petfive Viva Verde</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Essa é a areia preferida do Encantador de Gatos, Jackson Galaxy, o mais famoso especialista em comportamento de gatos, apresentador do Animal Planet e autor de livros que são best-sellers em todo o mundo. A Areia Possui fórmula natural forma torrão firme
                    e garante eliminação de odor, praticidade, eficiência e zero desperdício.
                </p>
                <p>
                    A Viva Verde! Vida Descomplicada é produzida com grãos de tamanhos diferenciados, o que ajuda a diminuir o rastro. Usamos apenas produtos naturais cuja extração não gera impacto ambiental negativo. Sua compra ainda ajuda a combater o desmatamento, a partir
                    de nossa parceria com o Rainforest Trust. A ausência de pó e químicos também melhora a qualidade de vida de seu amigo de quatro patas.
                </p>
                <p>
                    A cor branca facilita a observação de alterações na cor da urina, o que pode sinalizar alguma doença. Os torrões formados possuem até 12 horas de formação. É importante aguardar a dissolução para dar descarga. Quando houver mais de um gato, deve-se calcular
                    uma bandeja e meia por gato e distribuí-las em diferentes locais da casa.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Composição: Milho e Mandioca.
                    </li>
                    <li>
                        Peso: 4 Kg.
                    </li>
                    <li>
                        Biodegradável.
                    </li>
                    <li>
                        Aprovada por veterinários.
                    </li>
                    <li>
                        Parceria com o Rainforest Trust.
                    </li>
                    <li>
                        Pode ser descartada no vaso sanitário.
                    </li>
                    <li>
                        Melhor rendimento, zero desperdício.
                    </li>
                    <li>
                        Torrão perfeito instantâneo, sem poeira.
                    </li>
                    <li>
                        Eliminação imediata e duradoura do odor da urina.
                    </li>
                    <li>
                        Cor clara e grãos pequenos para minimizar rastros.
                    </li>
                    <li>
                        Não forma lama, produzida com fontes renováveis (milho e mandioca).
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Areia -->

<!-- Modal Tapete -->
<div class="modal fade modal-fullscreen-sm-down" tabindex="-1" id="tapete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tapete Higiênico Lavável São Benedito Pet Wash News</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>O Tapete Higiênico Lavável São Benedito Pet Wash News Jornal para Cães para Cães é uma excelente opção ecológica para os pais e mães de pet. Além de lavável e reutilizável, o tapete é estiloso com uma linda estampa de jornal retrô. Feito
                    com algodão, o material é gentil e suave para as patinhas, facilitando na adaptação do cachorro ao novo tapete.
                </p>

                <ul>
                    <p class="fw-bold">
                        Informações Adicionais:
                    </p>
                    <li>
                        Lavável.
                    </li>
                    <li>
                        Ecológico.
                    </li>
                    <li>
                        Reutilizável.
                    </li>
                    <li>
                        Prático e fácil de lavar.
                    </li>
                    <li>
                        Diminui a produção de lixo.
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<!--/Modal Tapete -->
<hr>