<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 text-center">Pet Shop</h1>
                <p class="lead text-center">Itens para o seu Pet</p>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Caminha pet.png" class="card-img-top" alt="..." height="205px">
                <div class="card-body">
                    <h5 class="card-title">Caminha para Pets</h5>
                    <ul class="card-text deco">
                        <li>Fibra de materias reutilizados</li>
                        <li>Impermeável e Lavável</li>
                        <li>Antimofo, antifungo, antitóxica</li>
                    </ul>
                    <p class="fw-bold mt-3">R$ 87,00</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Casinha.jpg" class="card-img-top" alt="..." height="220">
                <div class="card-body">
                    <h5 class="card-title">Casinha Hamster</h5>
                    <ul class="card-text deco">
                        <li>100% Reciclável</li>
                        <li>Semiacústica</li>
                        <li>Retém temperatura externa</li>
                    </ul>
                    <p class="fw-bold mt-5">R$ 14,31</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Areia pra Gato.jpg" class="card-img-top" alt="..." height="230">
                <div class="card-body">
                    <h5 class="card-title">Areia Higiênica 4kg</h5>
                    <ul class="card-text deco">
                        <li>Produzida com fontes renováveis</li>
                        <li>Descarte no vaso sanitário</li>
                        <li>Biodegradável</li>
                    </ul>
                    <p class="fw-bold ">R$ 33,74</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="../../assets/img/Produtos/Tapete Ecológico.jpg" class="card-img-top" alt="..." height="253">
                <div class="card-body">
                    <h5 class="card-title">Tapete Higiênico</h5>
                    <ul class="card-text deco">
                        <li>Lavável e Reutilizável</li>
                        <li>Ecológico</li>
                        <li>Diminui a produção de lixo</li>
                    </ul>
                    <p class="fw-bold ">R$ 98,91</p>
                    <a href="" class="btn btn-outline-success btn-sm">Comprar</a>
                    <a href="" class="btn btn-outline-primary btn-sm mm">Mais Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>